<ion-view title="" id="signupPage" class="gradiantBG">
    <ion-nav-bar class="bar-stable bar-transparent">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header" scroll="true">
        <form id="signup-form3" class="list ">
            <div class="spacer" style="width: 300px; height: 31px;"></div>
            <h3 id="signup-heading2" style="color:#000000;text-align:center;" class="">Create your account</h3>
            <p id="signup-markdown4" style="color:#000000;text-align:center;" class="">Sign up with Google or Email</p>
            <div class="spacer" style="width: 300px; height: 18px;"></div>
            <button id="signup-button11" class="button button-assertive  button-block icon-left ion-social-google-outline">Google</button>
            <p id="signup-markdown5" style="color:#000000;text-align:center;" class="">or</p>
            <ion-list id="signup-list2" class="">
                <label class="item item-input " id="signup-input5">
                    <span class="intputLable ion-email"></span>
                    <input type="email" placeholder="Email">
                </label>
                <label class="item item-input " id="signup-input6">
                    <span class="intputLable ion-key"></span>
                    <input type="password" placeholder="Password">
                </label>
                <label class="item item-input " id="signup-input7">
                    <span class="intputLable ion-ios-checkmark-empty"></span>
                    <input type="password" placeholder="Confirm password">
                </label>
                <button id="signup-button3" class="button button-positive  button-block icon-left ion-log-in ListBtn">Sign up</button>
            </ion-list>
            <a ui-sref="login" id="signup-button13" class="button button-light  button-block button-clear">Already have an account?</a>
        </form>
    </ion-content>
</ion-view>