

/*==========PLANS AND PRICING==============*/

/* Animation */

.PlanPricing {
    /* margin-top:100px; */
    -moz-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}


    .PlanPricing .planName {
        padding-top: 0;
        /* padding-bottom: 2%; */
        text-align: center;
        color: #d4d4d4;
        background-color: #337ab7;
        width: 100%;
        display: inline-block;
        box-shadow: 4px 0px 22px #0e0d0d;
        padding: 5px 0 0 0;
    }


        .PlanPricing .planName h3 {
            color: #FFF;
            text-align: center;
            padding: 0;
            margin: 0;
            text-transform: uppercase;
        }


    .PlanPricing .planFeatures {
        text-align: center;
        padding: 0;
    }

.planFeatures p.cityName {
    color: #ffffff;
    text-align: center;
    font-weight: 900;
    width: 100%;
    display: inline-block;
    text-shadow: 1px 1px 1px #0b0c27,-1px 1px 1px #0b0c27,0px -2px 3px #0b0c27;
}

.PlanPricing .planFeatures ul.rslides {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .PlanPricing .planFeatures ul.rslides li {
        padding: 13px 0;
        list-style: none;
    }

    .PlanPricing .planFeatures ul.rslides ul {
        /*background-color: green;
                position: relative;
                display: inline-block;
                width: 100%;
                z-index: 2000000000000;
                top: -99px;*/
        font-size: 12px;
    }

.PlanPricing p {
    margin: 0;
    text-align: center;
}

.PlanPricing .btn {
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*========= Price CSS==============*/


.template4 {
    /* overflow: hidden; */
    /* position: relative; */
    /* border: 2px solid rgb(96, 155, 183); */
    transition: all 1s linear 0s;
    /* height: 430px; */
    padding: 0;
    background: rgba(20, 68, 134, 0.8);
    /* border: 1px solid #c5c5c5; */
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 10px;
}
/*
    .PlanPricing:hover {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        z-index: 2;
        -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    }
    .template4:hover {
        border-top: 0px solid #1B253B;
        transition: all 1s linear 0s;
        padding-top: 50px;
    }

        .template4:hover > p a {
            width: 100% !important;
            position: relative;
            top: -340px;
            z-index: 200;
        }

        .template4:hover > div span.price {
            top: 50px !important;
            transition: all 1s linear 0s;
        }

        .template4:hover > div h3 {
            top: -14px !important;
            transition: all 1s linear 0s;
            position: relative;
        }
        
    .PlanPricing.template4 .btn:hover {
        background: #1B253B !important; 
        -webkit-transition: all 0.51s ease-in-out;
        -moz-transition: all 0.51s ease-in-out;
        -o-transition: all 0.51s ease-in-out;
        transition: all 0.51s ease-in-out;
    }*/


.PlanPricing.template4 .planName h3 {
    /* color: #144482; */
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    /* text-shadow: 1px 1px 1px rgba(20, 68, 130, 0.26), -3px 0px 5px #000; */
    /* border: 1px solid rgba(96, 155, 183, 0.3); */
}


.PlanPricing.template4 .btn {
    border-radius: 3px;
    box-sizing: border-box;
    margin: 0 auto;
    width: 69%;
    margin-bottom: 10px;
    color: #fff;
    font-size: 15px;
    padding: 10px 30px;
    background: #da9816; /* Old browsers */
    -webkit-transition: all 0.51s ease-in-out;
    -moz-transition: all 0.51s ease-in-out;
    -o-transition: all 0.51s ease-in-out;
    transition: all 0.51s ease-in-out;
    outline: none;
    border: 0;
}


.span3.PlanPricing.template4 > p {
    text-align: center;
}


.PlanPricing .price {
    /* color: #d4d4d4; */
    /*background: #2cc76a;
        padding: 5px;
        color: #FFF;
        font-size: 50px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        display: block;
        width: 100px;
        height: 100px;
        line-height: 100px;
        margin: 0 auto;
        position: relative;
        margin-top: -107px;
        margin-bottom: 10px;*/
    /* background-color: rgb(11, 39, 80); */
    /* width: 100%; */
    /* display: inline-block; */
    /* box-shadow: -8px -1px 13px #ccc; */
}


.orange {
    color: #fba826;
}

.template4 .planFeatures {
    color: #ffffff;
    /* height: 320px; */
    /* overflow: hidden; */
}



.rslides .caption {
    overflow: hidden;
    min-height: 44px;
    max-height: 64px;
    font-size: 10pt;
    line-height: 14px;
    width: 90%;
    text-align: left;
    display: inline-block;
    margin: 0 3%;
    /* background-color: white; */
    border-left: 2px solid #da9816;
    padding: 7px 0px 7px 10px;
}

.rslides img {
    display: block;
    /* height: auto; */
    float: none;
    /* width: auto; */
    border: 0;
    max-height: 238px;
    margin: auto;
    /* position: relative; */
    /* right: -40%; */
    /* text-align: left; */
}

.PlanPricing .planFeatures ul.rslides ul li:hover {
    background-color: #144482;
    color: #fff;
}

.PlanPricing .planFeatures ul.rslides ul li {
    text-align: left;
    border-top: 1px solid;
    margin: 0 auto;
    width: 86%;
    line-height: 11px;
    padding: 9px 20px;
}

.col-flex {
    width: 32%;
    margin: 19px -1% 2px 2%;
    box-shadow: 1px 1px 1px #95afd4;
}

@media screen and (max-width: 980px) {

    .col-flex {
        width: 45%;
        margin: auto;
    }
}

@media screen and (max-width: 480px) {

    .col-flex {
        width: 87%;
    }
}

@media screen and (max-width: 766px) and (min-width: 427px) {


    .col-flex {
        width: 99%;
        margin: 19px 0 0 0;
    }
}

a.btn.btn-success.btn-large:hover {
    background-color: #237572;
}


.packageMultiple-ul li {
    float: left;
    width: 45%;
    margin: 0 2%;
}

.packageMultiple-ul > li:last-child {
    border-left: 3px solid #337ab7;
    box-shadow: -2px 1px 1px rgba(18, 19, 21, 0.12);
    padding-left: 8px;
        min-height: 55px;


    padding-left: 8px;
}
