@{
    Layout = null;
}<!DOCTYPE html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">
<head prefix="og: http://ogp.me/ns# object: http://ogp.me/ns/object#">
    <meta name="title" content="Best audio guide application for Iran travel" />
    <meta name="Description"
          content="Iran audio Guide - Discover iran while listening to facts and stories about modern Iran, ancient history, the arts, persian mythology and above all a step by step guide through notable attractions." />

    <meta property="og:title" content="Best audio guide application for Iran travel" />
    <meta property="og:site_name" content="Iran Audio Guide" />
    <meta property="og:type" content="Audio Guide" />
    <meta property="og:image" content="http://iranaudioguide.com/IAGSITELOGO.png" />
    <meta property="og:url" content="http://iranaudioguide.com" />
    <meta property="og:description" content="Iran audio Guide - Discover iran while listening to facts and stories about modern Iran, ancient history, the arts, persian mythology and above all a step by step guide through notable attractions." />
    <meta property="fb:admins" content="iranaudioguide" />

    <meta property="twitter:card" content="Iran Audio Guide" />
    <meta property="twitter:description" content="Iran audio Guide - Discover iran while listening to facts and stories about modern Iran, ancient history, the arts, persian mythology and above all a step by step guide through notable attractions." />
    <meta property="twitter:url" content="http://iranaudioguide.com" />
    <meta property="twitter:title" content="Best audio guide application for Iran travel" />
    <meta property="twitter:image" content="http://iranaudioguide.com/IAGSITELOGO.png" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>@ViewBag.Title</title>
    @Styles.Render("~/ProfileCss")
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body onresize="onResizeBody()" ng-app="userApp" ng-controller="userCtrl">
    <div id="wrapper" ng-class="{ 'wrapper-show': profile.isCompletedLoading == false}">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <div class="logo">
                @*// class="sidebar-brand">*@
                <a id="IAGLink" href="http://iranaudioguide.com/">
                    <img src="/images/IAGSITELOGO.png">
                    <div id="IAGTextLink">Iran Audio Guide</div>
                </a>
            </div>
            <div style="background-color: #001644;min-height: 145px;border-top-right-radius: 10px; width:245px; box-shadow: 1px 5px 5px black;">
                <div class="userEmail">
                    <div>
                        <img src="{{user.uImageUrl}}">
                        <span>{{user.FullName}}</span>
                    </div>
                </div>
            </div>

            <ul class="sidebar-nav">
                <li>
                    <a href="http://iranaudioguide.com/">
                        <i class="fa fa-home"></i>
                        Home
                    </a>
                </li>
                <li class="active">
                    <a ui-sref="Packages" id="btnGetPakage" ng-click="getPackages($event)">
                        <i class="fa fa-shopping-cart"></i>
                        Packages
                    </a>
                </li>
                <li>
                    <a ui-sref="PackagesPurchased" id="btnGetPakagePurchased" ng-click="getPackagesPurchased($event)">
                        <i class="fa fa-list"></i>
                        Purchased
                    </a>
                </li>
                <li>
                    <a ui-sref="deactivateMobile" ng-click="getPackagesPurchased($event)">
                        <i class="fa fa-mobile"></i>
                        Device
                    </a>
                </li>

                <li>
                    <a style="cursor: pointer;" ng-click="LogOff()">
                        <i class="fa fa-sign-out"></i>
                        Log Off
                    </a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <div class="container-fluid">
                <div class="menu-mobail visible-xs">
                    <a href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars"></i></a>
                    <span class="menu-username">{{user.FullName }}</span>
                </div>
                <div class="row">
                    <div class="col-xs-12" id="PkgContainer">
                        {{test}}


                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>

    <div id="FullPageLoading" ng-class="{ 'unload': profile.isCompletedLoading == false, 'load': profile.isCompletedLoading == true}">
        <div id="fpcontainer">
            <img id="IAGLogo" src="~/images/IAGSmallWhiteLogo.png" />
            <div style="text-align:center;">
                <img id="spinbars" src="~/Content/images/bars.svg" />

                @*<p id="LoadingText">Loading... <br /> Change the "FullPageLoading" element class from "load" to "unload" using angularJS when whole page is loaded.<br />Set "#LoadingText" style to "display:none"<br /> Done...<br /> Thank you!</p>*@
            </div>
        </div>
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->

    @Scripts.Render("~/Profile/minJs")
</body>
</html>
