@using IranAudioGuide_MainServer.Models

<!DOCTYPE html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">
<head prefix="og: http://ogp.me/ns# object: http://ogp.me/ns/object#">
    <meta name="title" content="Best audio guide application for Iran travel" />
    <meta name="Description"
          content="Iran audio Guide - Discover iran while listening to facts and stories about modern Iran, ancient history, the arts, persian mythology and above all a step by step guide through notable attractions." />

    <meta property="og:title" content="Best audio guide application for Iran travel" />
    <meta property="og:site_name" content="Iran Audio Guide" />
    <meta property="og:type" content="Audio Guide" />
    <meta property="og:image" content="http://iranaudioguide.com/IAGSITELOGO.png" />
    <meta property="og:url" content="http://iranaudioguide.com" />
    <meta property="og:description" content="Iran audio Guide - Discover iran while listening to facts and stories about modern Iran, ancient history, the arts, persian mythology and above all a step by step guide through notable attractions." />
    <meta property="fb:admins" content="iranaudioguide" />

    <meta property="twitter:card" content="Iran Audio Guide" />
    <meta property="twitter:description" content="Iran audio Guide - Discover iran while listening to facts and stories about modern Iran, ancient history, the arts, persian mythology and above all a step by step guide through notable attractions." />
    <meta property="twitter:url" content="http://iranaudioguide.com" />
    <meta property="twitter:title" content="Best audio guide application for Iran travel" />
    <meta property="twitter:image" content="http://iranaudioguide.com/IAGSITELOGO.png" />



    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/minCss")
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-social.css" rel="stylesheet" />
    <link href="~/Content/toggle.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/Content/css/main2.css" />
    <link rel="stylesheet" href="~/Content/css/Custom4.css" />


    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="~/Content/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="~/Content/ie9.css" /><![endif]-->

</head>
<body class="landing" ng-app="HomePage" ng-controller="HomeController">
    <!-- Page Wrapper -->
    <div id="page-wrapper">
        <!-- Header -->
        <header id="header" class="alt">
            <h1><img id="toplogo" src="~/images/IAGSmallWhiteLogo.png" /><a href="@Url.Action("Index", "Home")">Iran Audio Guide</a></h1>
        </header>

        @RenderBody()


    </div>
    <footer id="footer">

        <ul class="icons">
            <li>
                <a target="_blank" href="https://www.twitter.com/iranaudioguide"
                   class="icon fa-twitter tooltips"><span>Twitter</span></a>
            </li>
            <li>
                <a target="_blank" href="https://www.facebook.com/iranaudioguide"
                   class="icon fa-facebook tooltips"><span>Facebook</span></a>
            </li>
            <li>
                <a target="_blank" href="https://www.instagram.com/iran.audio.guide/"
                   class="icon fa-instagram tooltips"><span>Instagram</span></a>
            </li>
            <li>
                <a target="_blank" href="https://www.telegram.me/iranaudioguide"
                   class="icon fa-telegram tooltips"><span>Telegram</span></a>
            </li>
            <li>
                <a href="mailto:info@iranaudioguide.com"
                   class="icon fa-envelope-o tooltips"><span>Email</span></a>
            </li>
        </ul>
        <ul id="copyright" class="copyright">
            <li>©@DateTime.Now.Year - Soroosh Developer Team</li>
            <li>Developer: <a rel="author" href="https://plus.google.com/112268338441138496929">Soroosh Ansari Mehr</a></li>
        </ul>
    </footer>


    <!-- Scripts -->
    <!--[if lte IE 8]><script src="~/assets/js/ie/respond.min.js"></script><![endif]-->

    <script src="~/Content/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/Scripts/bootstrap.min.js"></script>
</body>
</html>
