<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-family: sans-serif;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;font-size: 10px;-webkit-tap-highlight-color: rgba(0,0,0,0);">
<head style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">

    <meta name="viewport" content="width=device-width, initial-scale=1" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;"> <!-- So that mobile will display zoomed in -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;"> <!-- enable media queries for windows phone 8 -->
    <meta name="format-detection" content="telephone=no" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;"> <!-- disable auto telephone linking in iOS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style type="text/css" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
        @import url('https://fonts.googleapis.com/css?family=Bree+Serif|Roboto+Condensed|Titillium+Web|Quicksand|Cantarell|Material+Icons');



        .noisy {
            position: relative;
            overflow: hidden;
        }

            .noisy:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                opacity: .15;
                background-image: url('https://lh5.googleusercontent.com/40UudOf8T7oNMlMFMzivBLL7OcbBK6RQSixWfsx1LNlo4bLPRF64YFNfDdq5t7iuGDWxaoZwvmCPg6c=w1920-h857');
                background-image: none\9;
            }

    </style>
</head>

<body style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin: 0;font-family: &quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #333;background-color: #fff;">
    <div class="container-fluid noisy msgbody" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding-right: 0px;padding-left: 0px;margin-right: auto;margin-left: 0px;margin-top: 5px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;box-shadow: 3px 1px 5px #999;width: 99%;position: relative;overflow: hidden;">
        <div class="row LogoRoW" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;">
            <div class="col-xs-1 RowHead" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 50px;padding-right: 15px;padding-left: 15px;float: left;width: 35px !important;padding: 20px 0px;margin: 0;text-align: center;">

            </div>
            <div class="col-xs-11 " style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;float: left;width: 91.66666667%;">
                <img src="IAGLogo2.png" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important;max-height: 150px;">
            </div>
        </div>
        <div class="row contentRow" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;">
            <div id="Sbj" class="col-xs-12" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;float: left;width: 100%;display: flex;">
                <div class="col-xs-1 Color1 RowHead" style="border-top-right-radius: 15px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 50px;padding-right: 15px;padding-left: 15px;float: left;width: 35px !important;background-color: rgb(81, 70, 108);padding: 20px 0px;margin: 0;text-align: center;">
                    <i class="RH-icon fa fa-angle-double-right" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: x-large;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: whitesmoke;z-index: 100;">
                    </i>
                </div>
                <div class="col-xs-11 Contentcol" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;padding-right: 15px;padding-left: 24px;float: left;width: 100%;padding: 20px;margin: 0;font-family: 'Bree Serif';font-size: 22px;font-weight: normal;color: rgb(81, 70, 108);text-shadow: 0px 1px 2px grey;background-color: white;border-top-right-radius: 20px;">
                    #Subject#
                </div>
            </div>
            <div id="DateTime" class="col-xs-12 " style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;float: left;width: 100%;display: flex;">
                <div class="col-xs-1 Color2 RowHead" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 50px;padding-right: 15px;padding-left: 15px;float: left;width: 35px !important;background-color: #8590a9;padding: 20px 0px;margin: 0;text-align: center;">
                    <i style="font-family: 'Material Icons Extended'; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: x-large;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: whitesmoke;z-index: 100;">
                        mail_outline
                    </i>
                </div>
                <div class="col-xs-11 Contentcol" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;padding-right: 15px;padding-left: 24px;float: left;width: 100%;padding: 20px;margin: 0;font-family: 'QuickSand';font-size: 15px;font-weight: bold;color: #8590a9;text-shadow: 0px 1px 2px grey;background-color: white;">
                    #Date#
                </div>
            </div>
            <div id="Message" class="col-xs-12" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;float: left;width: 100%;display: flex;">
                <div class="col-xs-1 Color3 RowHead" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 50px;padding-right: 15px;padding-left: 15px;float: left;width: 35px !important;background-color: #009688;padding: 20px 0px;margin: 0;text-align: center;">
                    <i class="RH-icon fa fa-comment-o" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: x-large;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: whitesmoke;z-index: 100;">
                    </i>
                </div>
                <div class="col-xs-11 Contentcol" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;padding-right: 15px;padding-left: 24px;float: left;width: 100%;padding: 20px;margin: 0;">
                    <div id="subj" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-family: Titillium Web, Serif;font-size: 18px;font-weight: 600;color: #374550;text-shadow: 0px 1px 2px grey;margin-bottom: 20px;">#Subject#</div>
                    <p id="Msgtext" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;font-family: 'Roboto', Arial, sans-serif;font-size: 14px;line-height: 20px;text-align: left;color: #333333;text-shadow: 0px 1px 1px grey;font-weight: 300;">
                        #message#
                    </p>
                </div>
            </div>
            <div id="Footer" class="col-xs-12" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;float: left;width: 100%;display: flex;">
                <div class="col-xs-1 Color4 RowHead" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 50px;padding-right: 15px;padding-left: 15px;float: left;width: 35px !important;background-color: #000;padding: 20px 0px;margin: 0;text-align: center;">
                    <i class="RH-icon fa fa-align-left" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: x-large;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: whitesmoke;z-index: 100;">
                    </i>
                </div>
                <div class="col-xs-11 Contentcol" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;padding-right: 15px;padding-left: 24px;float: left;width: 100%;padding: 20px;margin: 0;font-family: Cantarell, sans-serif;font-size: 12px;line-height: 16px;color: #ffffff;text-shadow: 1px 1px 0px #000000;background-color: #222;">
                    Sent From Contact Form ©#Year# IranAudioGuideTeam
                    <br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;"><br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                    <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: 700;">IranAudioGuideTeam</strong><br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                    <span class="ios-footer" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                        Shiraz<br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                        Iran<br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                    </span>
                    <a href="http://iranaudioguide.com" style="color: #009688;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: transparent;text-decoration: underline;">iranaudioguide.com</a><br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                    <br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">

                </div>
            </div>
        </div>
    </div>
</body>



</html>









