@{
    ViewBag.Title = "Iran Audio Guide";
}
<section id="banner">
    <div class="inner">
        <div id="logo">
            <img src="~/images/IAGSITELOGO.png" />
        </div>
        <h2>Iran Audio Guide</h2>
        <p>

            The only guide you will need in Iran<br />
            <br />
            Convenient, thorough, liberating <br />


        </p>
        <ul class="actions">
            <li><a href="#Download_Application" class="button special scrolly">Download</a></li>
        </ul>
    </div>
    <a href="#one" class="more scrolly">Learn More</a>
</section>

<!-- One -->
<section id="one" class="wrapper style1 special" style="background-color:#505393 !important; padding: 2em 0 0em 0;">
    <div class="inner">
        <header class="major">
            <h2>
                Don’t just walk through  Iran, learn the history, hear the stories, feel the culture, ...

            </h2>
            <p>
                Download Iran Audio Guide application for free and see for yourself<br />
            </p>
        </header>
        <ul class="icons major">
            <li class="tooltips"><a><span class="icon fa-apple major style1"><span>Coming Soon</span></span></a></li>
            <li class="tooltips"><a href="~/Download/IranAudioGuide.apk"><span class="icon fa-cloud-download major style3"><span>Download Now</span></span></a></li>
            <li class="tooltips"><a><span class="icon fa-android major style2"><span>Coming Soon</span></span></a></li>

        </ul>
        @*<section id="usercounter" style="font-size:x-large; display:inline-flex; padding-bottom:70px;">
            We are honored to have
            <h2 style="margin: 0px; padding: 0px 10px 0px 10px; font-size: larger; color: cyan; line-height:inherit;" count-up id="numberAnimation" end-val="873.4" scroll-spy-event="elementFirstScrolledIntoView" scroll-spy></h2>
            Users

        </section>*@
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper alt style2" style="background-color:transparent !important">
    <section class="spotlight">
        <div class="image image1 grayscale">
            <img id="accurate_information" src="~/images/blockpics/accurate_information.jpg" alt="accurate information about Iran" scroll-spy />
        </div>
        <div class="content">
            <h2>
                Providing you with accurate information<br />

            </h2>
            <p>To guide you through the discovery of Iran and all its millenniums of history </p>
        </div>
    </section>

    <section class="spotlight  spotlightv" style="background-color:transparent !important;">
        <div class="image image2 grayscale">
            <img id="whattolisten" src="/images/blockpics/whattolisten.jpg" alt="Choose what to listen to" scroll-spy-event="elementScrolledIntoView" scroll-spy />
        </div>
        <div class="content">
            <h2 class="">
                Choose what to listen to <br>

            </h2>
            <p class="">Listen to the tracks your interested in, choose among all the content available</p>
        </div>
    </section>


    <section class="spotlight">
        <div class="image image3 grayscale">
            <img id="yourownpace" src="~/images/blockpics/yourownpace.jpg" alt="visit attractions with your own pace" scroll-spy/>
        </div><div class="content">
            <h2>
                Liberating you to visit attractions with your own pace <br />

            </h2>
            <p>No worries about being late or missing the explanations,take your time and wonder, take photos, ...</p>
        </div>
    </section>
</section>

<!-- Three -->





<section id="three" class="wrapper style3 special">
    <div class="inner">
        <header class="major">
            <h2>Where ever, when ever, which ever, how ever  </h2>
            <p>
                While walking, sitting, photographing. In the hotel, on the way, in the plane, on the bus. In the morning, at night, in any hour you choose this guide will narrate what ever you feel like listening too.Pause the tracks, listen later. Just be sure to truly discover Iran with Iran audio guide.<br />
            </p>
        </header>
        <ul class="features">
            <li class="icon fa-map-signs">
                <h3>Visiting tips</h3>
                <p>Iran audio guide will provide you with tips for visiting every attraction, maps and all you need to know about modern Iran</p>
            </li>
            <li class="icon fa-flag">
                <h3>Attraction guide</h3>
                <p>Iran audio guide will guide you step by step in every attraction. Advising you at what to look at and details not to miss</p>
            </li>
            <li class="icon fa-history">
                <h3>History</h3>
                <p>Iran audio guide tell you Iran’s millenniums of history, historic stories, wars, victories and envasions </p>
            </li>
            <li class="icon fa-users">
                <h3>Significant figures</h3>
                <p>Iran audio guide will open up the story and achievements of Kings, poets, scientist and other significant people for you</p>
            </li>
            <li class="icon fa-book">
                <h3>Persian stories</h3>
                <p>Iran audio guide allows you to listen to famous persian myth tails, the great love stories, even the historic gossips, scandals of Persia</p>
            </li>
            <li class="icon fa-institution">
                <h3>Art &amp; Architecture</h3>
                <p>Iran audio guide will explain the unique techniques and methods of Iranian architecture and crafts with images</p>
            </li>
        </ul>
    </div>
</section>

<!-- Download_Application -->
<section id="Download_Application" class="wrapper style4">
    <div class="container">
        <div class="underlined-title">
            <h1>
                Iran Audio Guide
            </h1>
            <hr />
        </div>
        <div class="row">
            <div class="col-sm-3 col-sm-offset-1 col-xs-12 col-xs-offset-1 dlrow">
                <a class="tooltips">
                    <img alt="Get it from App Store" src="~/images/as.png" />
                    <span class="csspan">Coming Soon!</span>
                </a>
            </div>
            <div class="col-sm-3 col-sm-offset-1 col-xs-12 col-xs-offset-1 dlrow">
                <a class="tooltips">
                    <img alt="Download" src="~/images/lc.png" />
                    <span class="csspan">Download Now</span>
                </a>
            </div>
            <div class="col-sm-3 col-sm-offset-1 col-xs-12 col-xs-offset-1 dlrow">
                <a class="tooltips">
                    <img alt="Get it from Google Play" src="~/images/gp.png" />
                    <span class="csspan">Coming Soon!</span>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer id="footer">
    <div id="contact" class="form-container">
        <form name="contactForm" class="form-horizontal" ng-submit="ContactUs(ContactFormModel, contactForm)">
            <fieldset>
                <legend style="color:#ffffff;">Feel free to Contact us...</legend>
                <br />
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span ng-class="ValidationClass(0)" class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input ng-blur="validator($event, 0)" ng-model="ContactFormModel.name" id="name" name="name" class="form-control" placeholder="Name" type="text" required="">
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span ng-class="ValidationClass(1)" class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input ng-blur="validator($event, 1)" ng-model="ContactFormModel.email" id="Email4" name="Email" class="form-control" placeholder="Email" type="email" required="">
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-pencil-square-o"></i></span>
                            <input ng-model="ContactFormModel.subject" id="Subject" name="Subject" class="form-control" placeholder="Subject" type="text">
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span ng-class="ValidationClass(3)" class="input-group-addon"><i class="fa fa-commenting"></i></span>
                            <textarea ng-blur="validator($event, 3)" ng-model="ContactFormModel.message" id="Message" name="Message" class="form-control" placeholder="Your Message..." required=""></textarea>
                        </div>

                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <div class="col-xs-12">
                        <button id="SubmitBtn" name="SubmitBtn" class="btn btn-inverse"><i class="fa fa-send"></i>   Send</button>
                    </div>
                </div>

            </fieldset>
        </form>
        <!--<Contact overlay> -->
        <div ng-show="overlay" class="contactoverlay">
            <img ng-show="!sent" src="~/images/bars.svg" />
            <p ng-show="sent" ng-bind="sentMessage"></p>
        </div>
        <!--</Contact overlay> -->
    </div>

    <ul class="icons">
        <li>
            <a target="_blank" href="https://www.twitter.com/iranaudioguide"
               class="icon fa-twitter tooltips"><span>Twitter</span></a>
        </li>
        <li>
            <a target="_blank" href="https://www.facebook.com/iranaudioguide"
               class="icon fa-facebook tooltips"><span>Facebook</span></a>
        </li>
        <li>
            <a target="_blank" href="https://www.instagram.com/iranaudioguideapp/"
               class="icon fa-instagram tooltips"><span>Instagram</span></a>
        </li>
        <li>
            <a target="_blank" href="https://www.telegram.me/iranaudioguide"
               class="icon fa-telegram tooltips"><span>Telegram</span></a>
        </li>
        <li>
            <a href="mailto:info@iranaudioguide.com"
               class="icon fa-envelope-o tooltips"><span>Email</span></a>
        </li>
    </ul>
    <ul id="copyright" class="copyright">
        <li>© 2017 - Soroosh Developer Team</li>
        <li>Developer: <a rel="author" href="https://plus.google.com/112268338441138496929">Soroosh Ansari Mehr</a></li>
    </ul>
</footer>