@{
    ViewBag.Title = "Iran Audio Guide";
}

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>Iran Audio Guide</h2>
        <p>

            The only guide you will need in Iran<br />
            <br />
            Convenient, thorough, liberating <br />


        </p>
        <ul class="actions">
            <li><a href="#cta" class="button special scrolly">Download</a></li>
        </ul>
    </div>
    <a href="#one" class="more scrolly">Learn More</a>
</section>

<!-- One -->
<section id="one" class="wrapper style1 special">
    <div class="inner">
        <header class="major">
            <h2>
                Don’t just walk through  Iran, learn the history, hear the stories, feel the culture, ...

            </h2>
            <p>
                Download Iran Audio Guide application for free and see for yourself<br />

            </p>
        </header>
        <ul class="icons major">
            <li><a href="#"><span class="icon fa-apple major style1"><span class="label">App Store</span></span></a></li>
            <li><a href="#"><span class="icon fa-android major style2"><span class="label">Google Play</span></span></a></li>
            <li><a href="#"><span class="icon fa-windows major style3"><span class="label">Windows Store</span></span></a></li>
        </ul>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper alt style2">
    <section class="spotlight">
        <div class="image"><img src="~/images/pic01.jpg" alt="providing you with accurate information" /></div>
        <div class="content">
            <h2>
                providing you with accurate information<br />

            </h2>
            <p>To guide you through the discovery of Iran and all its millenniums of history </p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image">
            <img src="~/images/pic02.jpg" alt="liberating you to visit attractions with your own pace" />
        </div><div class="content">
            <h2>
                liberating you to visit attractions with your own pace <br />

            </h2>
            <p>No worries about being late or missing the expalantions,take your time and wonder, take photos, ...</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="~/images/pic03.jpg" alt="Choose what to listen to" /></div>
        <div class="content">
            <h2>
                Choose what to listen to <br />

            </h2>
            <p>Listen to the tracks your interested in, choose among all the content available</p>
        </div>
    </section>
</section>

<!-- Three -->
<section id="three" class="wrapper style3 special">
    <div class="inner">
        <header class="major">
            <h2>Where ever, when ever, which ever, how ever  </h2>
            <p>
                while walking, sitting, photographing. In the hotel, on the way, in the plane, on the bus. In the morning, at night, in any hour you choose this guide will narrate what ever you feel like listening too.Pause the tracks, listen later. Just be sure to truely discover Iran with Iran audio guide.<br />

            </p>
        </header>
        <ul class="features">
            <li class="icon fa-paper-plane-o">
                <h3>Visiting tips</h3>
                <p>Iran audio guide will provide you with tips for visiting every attraction, maps and all you need to know about modern Iran</p>
            </li>
            <li class="icon fa-laptop">
                <h3>Attraction guide</h3>
                <p>Iran audio guide will guide you step by step in every attraction. Advising you at what to look at and details not to miss</p>
            </li>
            <li class="icon fa-code">
                <h3>History</h3>
                <p>Iran audio guide tell you Iran’s millenniums of history, historic stories, wars, victories and envasions </p>
            </li>
            <li class="icon fa-headphones">
                <h3>Significant figures</h3>
                <p>Iran audio guide will open up the story and achievements of Kings, poets, scientist and other significant people for you</p>
            </li>
            <li class="icon fa-heart-o">
                <h3>Persian stories</h3>
                <p>Iran audio guide allows you to listen to famous persian myth tails, the great love stories, even the historic gossips, scandals of Persia</p>
            </li>
            <li class="icon fa-flag-o">
                <h3>Art & Architecture</h3>
                <p>Iran audio guide will explain the unique techniques and methods of Iranian architecture and crafts with images</p>
            </li>
        </ul>
    </div>
</section>

<!-- CTA -->
<section id="cta" class="wrapper style4">
    <div class="container">
        <div class="underlined-title">
            <h1>
                Iran Audio Guide
            </h1>
            <hr />
            @*<h2>Get it from your store</h2>*@
        </div>
        <div class="row">
            <div class="col-sm-3 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <a href="#" class="">
                    <img src="~/images/AppleStore.png" />
                </a>
            </div>
            <div class="col-sm-3 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <a href="#" class="">
                    <img src="~/images/googlePlay.png" />
                </a>
            </div>
            @*<div class="col-md-3 col-sm-offset-1">
                    <a href="#" class="">
                        <img src="~/images/WindowsStore.png" />
                    </a>
                </div>*@
        </div>
    </div>
</section>

<!-- Footer -->
<footer id="footer">
    <ul class="icons">
        <li><a href="#" 
               class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" 
               class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" 
               class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" 
               class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
        <li><a href="mailto:info@iranaudioguide.com" 
               class="icon fa-envelope-o"><span class="label">Email</span></a></li>
    </ul>
    <ul id="copyright" class="copyright">
        <li>&copy; @DateTime.Now.Year - Soroosh Developer Team</li>
        <li>Developer: <a rel="author" href="https://plus.google.com/112268338441138496929">Soroosh Ansari Mehr</a></li>
    </ul>
</footer>