@{
    ViewBag.Title = "Iran Audio Guide";
}
@model IranAudioGuide_MainServer.Models.ContactEmailVM
<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>Iran Audio Guide</h2>
        <p>

            The only guide you will need in Iran<br />
            <br />
            Convenient, thorough, liberating <br />


        </p>
        <ul class="actions">
            <li><a href="#Download_Application" class="button special scrolly">Download</a></li>
        </ul>
    </div>
    <a href="#one" class="more scrolly">Learn More</a>
</section>

<!-- One -->
<section id="one" class="wrapper style1 special">
    <div class="inner">
        <header class="major">
            <h2>
                Don’t just walk through  Iran, learn the history, hear the stories, feel the culture, ...

            </h2>
            <p>
                Download Iran Audio Guide application for free and see for yourself<br />

            </p>
        </header>
        <ul class="icons major">
            <li  class="tooltips"><a href="#"><span class="icon fa-apple major style1"><span>Apple Store (Comming Soon!)</span></span></a></li>
            <li  class="tooltips"><a href="~/Download/IranAudioGuide.apk"><span class="icon fa-cloud-download major style3"><span>Local</span></span></a></li>
            <li  class="tooltips"><a href="#"><span class="icon fa-android major style2"><span>Google Play (Comming Soon!)</span></span></a></li>

        </ul>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper alt style2">
    <section class="spotlight">
        <div class="image"><img src="~/images/accurate3.svg" alt="providing you with accurate information" /></div>
        <div class="content">
            <h2>
                providing you with accurate information<br />

            </h2>
            <p>To guide you through the discovery of Iran and all its millenniums of history </p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image">
            <img src="~/images/feather2.svg" alt="liberating you to visit attractions with your own pace" />
        </div><div class="content">
            <h2>
                liberating you to visit attractions with your own pace <br />

            </h2>
            <p>No worries about being late or missing the expalantions,take your time and wonder, take photos, ...</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="~/images/hand-01.svg" alt="Choose what to listen to" /></div>
        <div class="content">
            <h2>
                Choose what to listen to <br />

            </h2>
            <p>Listen to the tracks your interested in, choose among all the content available</p>
        </div>
    </section>
</section>

<!-- Three -->
<section id="three" class="wrapper style3 special">
    <div class="inner">
        <header class="major">
            <h2>Where ever, when ever, which ever, how ever  </h2>
            <p>
                while walking, sitting, photographing. In the hotel, on the way, in the plane, on the bus. In the morning, at night, in any hour you choose this guide will narrate what ever you feel like listening too.Pause the tracks, listen later. Just be sure to truely discover Iran with Iran audio guide.<br />

            </p>
        </header>
        <ul class="features">
            <li class="icon fa-map-signs">
                <h3>Visiting tips</h3>
                <p>Iran audio guide will provide you with tips for visiting every attraction, maps and all you need to know about modern Iran</p>
            </li>
            <li class="icon fa-info">
                <h3>Attraction guide</h3>
                <p>Iran audio guide will guide you step by step in every attraction. Advising you at what to look at and details not to miss</p>
            </li>
            <li class="icon fa-history">
                <h3>History</h3>
                <p>Iran audio guide tell you Iran’s millenniums of history, historic stories, wars, victories and envasions </p>
            </li>
            <li class="icon fa-users">
                <h3>Significant figures</h3>
                <p>Iran audio guide will open up the story and achievements of Kings, poets, scientist and other significant people for you</p>
            </li>
            <li class="icon fa-book">
                <h3>Persian stories</h3>
                <p>Iran audio guide allows you to listen to famous persian myth tails, the great love stories, even the historic gossips, scandals of Persia</p>
            </li>
            <li class="icon fa-institution">
                <h3>Art &amp; Architecture</h3>
                <p>Iran audio guide will explain the unique techniques and methods of Iranian architecture and crafts with images</p>
            </li>
        </ul>
    </div>
</section>

<!-- Download_Application -->
<section id="Download_Application" class="wrapper style4">
    <div class="container">
        <div class="underlined-title">
            <h1>
                Iran Audio Guide Application
            </h1>
            <hr />
        </div>
        <div class="row">
            <div class="col-sm-3 col-sm-offset-1 col-xs-10 col-xs-offset-1 dlrow">
                <a  class="tooltips">
                    <img alt="Get it from App Store" src="~/images/as.png" />
                    <span class="csspan">Coming Soon!</span>
                </a>
            </div>
            <div class="col-sm-3 col-sm-offset-1 col-xs-10 col-xs-offset-1 dlrow">
                <a class="tooltips">
                    <img alt="Download" src="~/images/lc.png" />
                    <span class="csspan">Download Now</span>
                </a>
            </div>
            <div class="col-sm-3 col-sm-offset-1 col-xs-10 col-xs-offset-1 dlrow">
                <a class="tooltips">
                    <img alt="Get it from Google Play" src="~/images/gp.png" />
                    <span class="csspan">Coming Soon!</span>
                </a>
            </div>
        </div>
    </div>
</section>



<!-- Footer -->
<footer id="footer">
    <div id="contact" class="form-container">
        <form class="form-horizontal">
            <fieldset>
                <legend style="color:#ffffff;">Feel free to Contact Us...</legend>
                <br />
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input id="prependedtext" name="prependedtext" class="form-control" placeholder="Name" type="text" required="">
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input id="Email" name="Email" class="form-control" placeholder="Email" type="text" required="">
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                            <input id="Phone" name="Phone" class="form-control" placeholder="Phone Number" type="text">
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-commenting"></i></span>
                            <textarea id="Message" name="Message" class="form-control" required=""></textarea>
                        </div>

                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <div class="col-xs-12">
                        <button id="SubmitBtn" name="SubmitBtn" class="btn btn-inverse"><i class="fa fa-send"></i>   Send</button>
                    </div>
                </div>

            </fieldset>
        </form>

    </div>

    <ul class="icons">
        <li><a target="_blank" href="https://www.twitter.com/iranaudioguide" 
               class="icon fa-twitter tooltips"><span>Twitter</span></a></li>
        <li><a target="_blank" href="https://www.facebook.com/iranaudioguide" 
               class="icon fa-facebook tooltips"><span>Facebook</span></a></li>
        <li><a target="_blank" href="https://www.instagram.com/iranaudioguide" 
               class="icon fa-instagram tooltips"><span>Instagram</span></a></li>
        <li><a target="_blank" href="https://www.telegram.me/iranaudioguide" 
               class="icon fa-telegram tooltips"><span>Telegram</span></a></li>
        <li><a href="mailto:info@iranaudioguide.com" 
               class="icon fa-envelope-o tooltips"><span>Email</span></a></li>
    </ul>
    <ul id="copyright" class="copyright">
        <li>&copy; @DateTime.Now.Year - Soroosh Developer Team</li>
        <li>Developer: <a rel="author" href="https://plus.google.com/112268338441138496929">Soroosh Ansari Mehr</a></li>
    </ul>
</footer>