@using IranAudioGuide_MainServer.App_GlobalResources
@{
    ViewBag.Title = "PrivacyPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .contentPrivacy {
        text-align: center;
        margin: 6%;
        text-align: justify;
        font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #292b2c;
        background-color: #fff;
        min-height: 100vh;
    }

        .contentPrivacy h2 {
            margin-bottom: 1.5rem !important;
            text-shadow: initial !important;
            color: #000;
        }

    #main > header, body.landing #page-wrapper {
        background-image: none;
        color: #000;
        background-color: #fff;
    }

    #header nav > ul > li > a {
        color: #060606;
    }

    #header .country .countryDropdown {
        background-color: #15437f !important;
        color: #ffffff !important;
    }
</style>

@if (Global.Lang == "en")
{
    <div class="contentPrivacy ">
        <h2>Iran Audio Guide Privacy Policy</h2>

        This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information' (PII) is being used online. PII, as described in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.

        What personal information do we collect from the people that visit our blog, website or app?

        When ordering or registering on our site, as appropriate, you may be asked to enter your or other details to help you with your experience.

        When do we collect information?

        We collect information from you when you or enter information on our site.


        How do we use your information?

        We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:

        Do we use 'cookies'?


        You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look at your browser's Help Menu to learn the correct way to modify your cookies.

        If you turn cookies off, Some of the features that make your site experience more efficient may not function properly.that make your site experience more efficient and may not function properly.


        California Online Privacy Protection Act

        CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy. The law's reach stretches well beyond California to require any person or company in the United States (and conceivably the world) that operates websites collecting Personally Identifiable Information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals or companies with whom it is being shared. - See more at: http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf

        According to CalOPPA, we agree to the following:

        COPPA (Children Online Privacy Protection Act)

        When it comes to the collection of personal information from children under the age of 13 years old, the Children's Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, United States' consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children's privacy and safety online.

        Fair Information Practices

        The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.
        In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:

        CAN SPAM Act

        The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.
        We collect your email address in order to:

        To be in accordance with CANSPAM, we agree to the following:

        If at any time you would like to unsubscribe from receiving future emails, you can email us at
        and we will promptly remove you from ALL correspondence.


        Contacting Us

        If there are any questions regarding this privacy policy, you may contact us using the information below.
        Name : Shiraz DurAndish Programmers Co.
        Address: Fars, Science and Technology Park, room 1112
        City, state zip-postal: Fars, Shiraz, 7197687811
        country: Iran
        info@iranaudioguide.com
        071-36364709

        Last Edited on 2017-06-7
    </div>
}
else
{
    <div class="contentPrivacy ">
        <h2>شرایط و &amp;  ضوابط</h2>
    </div>
}



