@using IranAudioGuide_MainServer.App_GlobalResources

@{
    ViewBag.Title = "TermsConditions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .contentPrivacy {
        text-align: center;
        margin: 6%;
        text-align: justify;
        font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #292b2c;
        background-color: #fff;
        min-height: 100vh;
    }

        .contentPrivacy h2 {
            margin-bottom: 1.5rem !important;
            text-shadow: initial !important;
            color: #000;
        }

    #main > header, body.landing #page-wrapper {
        background-image: none;
        color: #000;
        background-color: #fff;
    }

    #header nav > ul > li > a {
        color: #060606;
    }

    #header .country .countryDropdown {
        background-color: #15437f !important;
        color: #ffffff !important;
    }
</style>

@if (Global.Lang == "en")
{
    <div class="contentPrivacy ">
    
    </div>
}
else
{
    <div class="contentPrivacy ">
        <h2>شرایط و قوانین استفاده از وبسایت و اپلیکیشن راهنمای صوتی ایران</h2>
        <p>
            ورود کاربران به وب‏‌ سایت یا اپلیکشن راهنمای صوتی ایران به معنای آگاه بودن و پذیرفتن شرایط و قوانین و همچنین نحوه استفاده از سرویس‌‏ها و خدمات راهنمای صوتی ایران است. دانلود  و یا خرید بسته در هر زمان نیز به معنی پذیرفتن کامل کلیه شرایط و قوانین دانلود از سوی کاربر است. لازم به ذکر است شرایط و قوانین مندرج، جایگزین کلیه توافق‏‌های قبلی محسوب می‏‌شود.

        </p>
        <h2>قوانین عمومی</h2>
        <p>
            توجه داشته باشید کلیه اصول و رویه‏‌های راهنمای صوتی ایران منطبق با قوانین جمهوری اسلامی ایران،  قانون تجارت الکترونیک و قانون حمایت از حقوق مصرف کننده است و متعاقبا کاربر نیز موظف به رعایت قوانین مرتبط با کاربر است. در صورتی که در قوانین مندرج، رویه‏‌ها و سرویس‏‌های راهنمای صوتی ایران تغییراتی در آینده ایجاد شود، در همین صفحه منتشر و به روز رسانی می شود و کاربران توافق می‏‌کنید که استفاده از سایت و اپلیکشن به معنی پذیرش هرگونه تغییر است.

        </p>
        <h2>
            قوانین دسترسی به بسته خریداری شده
        </h2>
        <p>
            بسته های خریداری شده از وب سایت و اپلیکشن راهنمای صوتی ایران، با وارد کردن ایمیل حساب و فقط از طریق یک دستگاه  قابل دسترسی است. هر حساب کاربری بر روی یک دستگاه فقط قابل ورود است و فقط 6 ماهی یک بار امکان تغییر دستگاه متصل به حساب کاربری امکان پذیر است.  بدین صورت که در صورت خرید با اپلیکشن، بسته فقط بر روی دستگاه استفاده شده موقع خرید  باز می شود. در صورت خرید بسته  از طریق از وب سایت، بسته فقط با اولین دستگاهی که با این نام کاربری وارد حساب شود قابل دسترسی خواهد بود. هر کاربر در صورتی که خواهان تغییر دستگاه خود و دسترسی به بسته های خریداری شده  با دستگاه جدید خود باشد، می تواند از طریق سایت، 6 ماهی یک بار در صفحه کاربر در قسمت دستگاه، دستگاه متصل به حساب خود را تغییر دهد. کاربران با خرید هر بسته موافقت خود با این قوانین را اعلام می کند.


        </p>
        <h2>
            تعریف مشتری یا کاربر
        </h2>

        <p>
            مشتری یا کاربر به شخصی گفته می‌شود که با اطلاعات کاربری خود که در فرم ثبت نام درج کرده است، از خدمات راهنمای صوتی ایران استفاده می کند.
        </p>
        <h2>
            ارتباطات الکترونیکی
        </h2>

        <p>
            با استفاده از خدمات راهنمای صوتی ایران استفاده می‏‌کنید یا به راهنمای صوتی ایران ایمیل می‏‌زنید، این ارتباطات به صورت الکترونیکی انجام می‏‌شود و در صورتی که درخواست شما با رعایت کلیه اصول و رویه ‏‌ها باشد، شما موافقت می‌‏کنید که راهنمای صوتی ایران به صورت الکترونیکی (از طریق پست الکترونیکی و سایر سرویس‌های الکترونیکی) به درخواست شما پاسخ دهد. همچنین آدرس ایمیلی  که مشتری در پروفایل خود ثبت می‌کند، تنها  آدرس ایمیل و رسمی و مورد تایید مشتری است  و تمام مکاتبات  و پاسخ‌های شرکت از طریق آنها صورت می‌گیرد.

        </p>
        <h2>            سیاست‏‌های رعایت حریم شخصی</h2>
        <p>
            راهنمای صوتی ایران به اطلاعات خصوصی اشخاصى که از خدمات سایت استفاده می‏‌کنند، احترام گذاشته و از آن محافظت می‏‌ کند.
            راهنمای صوتی ایران متعهد می‏‌شود در حد توان از حریم شخصی شما دفاع کند و در این راستا، تکنولوژی مورد نیاز برای هرچه مطمئن ‏‌تر و امن ‏‌تر شدن استفاده شما از سایت را، توسعه دهد. در واقع با استفاده از سایت و اپلیکشن راهنمای صوتی ایران ، کاربررضایت خود را از این سیاست نشان می ‏‌دهید.
            همه توضیحات و مطالب در دسترس در اپلیکشن و سایت، مانند متن، گرافیک، آرم، آیکون دکمه، تصاویر، ویدئوهای تصویری، موارد قابل دانلود و کپی، داده‌ها و کلیه محتوای تولید شده توسط راهنمای صوتی ایران جزئی از اموال راهنمای صوتی ایران محسوب می‏‌شود و حق استفاده و نشر تمامی مطالب موجود و در دسترس در انحصار راهنمای صوتی ایران است و هرگونه استفاده بدون کسب مجوز کتبی، حق پیگرد قانونی را برای راهنمای صوتی ایران محفوظ می‏‌دارد و هر گونه استفاده با مقاصد تجاری پیگرد قانونی دارد. کاربران مجاز به بهره‌ ‏برداری و استفاده از لیست محصولات، مشخصات فنی، قیمت و هر گونه استفاده از مشتقات اپلیکشن راهنمای صوتی ایران و یا هر یک از خدمات و یا مطالب، دانلود یا کپی کردن اطلاعات با مقاصد تجاری، هر گونه استفاده از داده کاوی، روبات، یا روش‌‏های مشابه مانند جمع آوری داده‌‏ها و ابزارهای استخراج نیستند و کلیه این حقوق به صراحت برای راهنمای صوتی ایران محفوظ است. در صورت استفاده از هر یک از خدمات راهنمای صوتی ایران ، کاربران مسئول حفظ ایمیل و رمز عبور خود هستند
            تنها مرجع رسمی ما  پایگاه رسمی این سایت یعنی www.iranaudioguide.com است.
        </p>
        <h2>محتوا</h2>
        <h2></h2>
        <p>
            راهنمای صوتی ایران نهایت تلاش و دقت را در راستای ارائه محتوا دقیق خود می‏‌کند و به منظور تولید محتوا از منابع و مراجع اصیل و نیزناشرین استفاده می‏‌کند. لازم به ذکر است که با توجه ذات مطالب و وجود منابع معتبر متضاد، همچنین نیاز به اختصار و عدم امکان بیان تمامی مطالب موجود، راهنمای صوتی ایران تضمین نمی‏‌کند که مطالب و توضیحات در سایت و اپلیکشن عاری از خطا باشد. لازم به توضیح است که در صورت نیاز کاربران به منابع مطالب مطرح شده،لازم است که کاربران از طریق ایمیل پرسش کنند.
            وب ‏‌سایت راهنمای صوتی ایران هیچ گونه مسوولیتی را در رابطه با حذف شدن صفحه ‏‌های سایت خود و یا لینک ‏‌های مرده  و یا عدم کارکرد اپلیکشن نمی‌ ‏پذیرد. سروﻳس‌‏های سایت و اپلیکشن آن‏گونه که هست ارائه می‏‌شود و سایت راهنمای صوتی ایران تحت هیچ شرایطی مسوولیت تاخیر یا عدم کارکرد سایت را که می‌تواند ناشى از عوامل طبیعى، نیروى انسانی، مشکلات اینترنتى، خرابی تجهیزات کامپیوترى، مخابراتى و غیره باشد بر عهده ندارد.
        </p>

        <h2>
            سیاست قیمت گذاری
        </h2>
        <p>
            سیاست قیمت‌‏گذاری در راهنمای صوتی ایران مبتنی بر اصول مشتری مداری و احترام به حقوق مصرف کننده است. قیمت‏‌های ارائه شده برای بسته های مختلف در راهنمای صوتی ایران طوری  تعیین شده است که مصرف کنندگان بیشتری بتوانند استفاده کنند .
        </p>

        <h2>
            قوه قهریه
        </h2>
        <p>
            تمامی شرایط و قوانین مندرج، در شرایط عادی قابل اجرا است و در صورت بروز هرگونه از موارد قوه قهریه، راهنمای صوتی ایران هیچ گونه مسئولیتی ندارد.
        </p>
        <h2></h2>
        <p></p>








    </div>
}

