
@font-face {
    font-family: 'SDDT-Light-web';
    src: url('../../fonts/SDDT-Light-web.woff') format('woff');
}

._fa * {
    font-family: 'SDDT-Light-web' !important;
    letter-spacing: 0px !important;
}

._fa h1, ._fa h2, ._fa h3, ._fa h4, ._fa h5, ._fa h6, ._fa p, ._fa .panel-heading, ._fa panel-body, ._fa #menu ul {
    direction: rtl !important;
}

._fa #menu li i {
    margin-right: initial;
    margin-left: 10px;
}

._fa .features li {
    text-align: right;
    padding: 4em 6em 2em 4em;
    direction: rtl !important;
    /*text-align: justify;*/
}

@media screen and (max-width: 980px) {
    ._fa .features li {
        padding: 3em 2em 1em;
        text-align: center;
        direction: ltr !important;
    }
}

._fa .features li:before {
    right: 1.75em;
}

._fa #contact {
    direction: rtl;
}

._fa .input-group-addon {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

._fa .form-control {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

._fa .panel-body {
    direction: rtl;
}

._fa .member-social {
    float: left !important;
}

._fa .InfoImage {
    float: right;
}

._fa .gm-style-iw {
    margin-bottom: 17px;
}
