

/*==========PLANS AND PRICING==============*/

/* Animation */

.PlanPricing {
    /* margin-top:100px; */
    -moz-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}


    .PlanPricing .planName {
    padding-top: 0;
    text-align: center;
    background-color: #001644;
    width: 100%;
    /* box-shadow: 1px -1px 0px #0f2442; */
    padding: 5px 0 0 0;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    font-size: 14px;
    }


        .PlanPricing .planName h3 {
            color: #FFF;
            text-align: center;
            padding: 0;
            margin: 0;
            /*text-transform: uppercase;*/
        }


    .PlanPricing .planFeatures {
        text-align: center;
        padding: 0;
    }

.planFeatures p.cityName {
    color: #ffffff;
    text-align: center;
    font-weight: 400;
    width: 100%;
    padding: 15px 30px 15px 30px;
    text-shadow: 0px 0px 5px white !important;
    display: inline-block;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    box-shadow: 1px 25px 50px rgba(255, 255, 255, 0.15);
    height: auto;
    font-size: smaller;
    min-height: 90px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.PlanPricing .planFeatures ul.rslides {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .PlanPricing .planFeatures ul.rslides li {
        padding: 0px 0;
        list-style: none;
    }

    .PlanPricing .planFeatures ul.rslides ul {
        font-size: 12px;
        margin-left: -35px;
        font-weight: 600;
    }

.PlanPricing p {
    margin: 0;
    text-align: center;
}

.PlanPricing .btn {
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*========= Price CSS==============*/


.template4 {
    transition: all 0.5s linear 0s;
    padding: 0;
    background: rgb(0, 22, 68);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 15px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin: 20px auto;
    padding-bottom: 10px;
}

.input-group-addon
{
    color: #dfdfdf !important;
    text-shadow: 1px 1px 3px #54554f !important;
    background-color: rgba(0, 144, 131, 0.8);
    border: 1px solid rgb(44, 159, 148) !important;
}

.SearchSelect
{
    background-color: rgb(236, 236, 236) !important;
    border-color: rgb(44, 159, 148);
    color: #001644;
    border-left: 0;
    font-weight: 400;
    font-family: raleway;
    width:100% !important;
    min-height:30px;
}
.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
    width: 100% !important;
    font-size: 85%;
    vertical-align: middle;
    height: 30px;
}
.ui-select-multiple.ui-select-bootstrap {
    height: 30px !important;
    padding: 0px 3px 0 !important;
}
.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
    margin: 3px !important;
}
/*
    .PlanPricing:hover {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        z-index: 2;
        -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    }
    .template4:hover {
        border-top: 0px solid #1B253B;
        transition: all 1s linear 0s;
        padding-top: 50px;
    }

        .template4:hover > p a {
            width: 100% !important;
            position: relative;
            top: -340px;
            z-index: 200;
        }

        .template4:hover > div span.price {
            top: 50px !important;
            transition: all 1s linear 0s;
        }

        .template4:hover > div h3 {
            top: -14px !important;
            transition: all 1s linear 0s;
            position: relative;
        }
        
    .PlanPricing.template4 .btn:hover {
        background: #1B253B !important; 
        -webkit-transition: all 0.51s ease-in-out;
        -moz-transition: all 0.51s ease-in-out;
        -o-transition: all 0.51s ease-in-out;
        transition: all 0.51s ease-in-out;
    }*/


.PlanPricing.template4 .planName h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(20, 68, 130, 0.26), -3px 0px 5px #000;
    color: #f5f5f5;
    font-family: Raleway;
    padding: 15px 0px;
    font-weight: 500;
    font-size: 100%;
}


.PlanPricing.template4 .btn {
    border-radius: 3px;
    box-sizing: border-box;
    margin: 0 auto;
    width: 69%;
    margin-bottom: 10px;
    color: #fff;
    font-size: 15px;
    padding: 10px 30px;
    /*  Old browsers */
    -webkit-transition: all 0.51s ease-in-out;
    -moz-transition: all 0.51s ease-in-out;
    -o-transition: all 0.51s ease-in-out;
    transition: all 0.51s ease-in-out;
    outline: none;
    border: 0;
}


.span3.PlanPricing.template4 > p {
    text-align: center;
}


.PlanPricing .price {
    /* color: #d4d4d4; */
    /*background: #2cc76a;
        padding: 5px;
        color: #FFF;
        font-size: 50px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        display: block;
        width: 100px;
        height: 100px;
        line-height: 100px;
        margin: 0 auto;
        position: relative;
        margin-top: -107px;
        margin-bottom: 10px;*/
    /* background-color: rgb(11, 39, 80); */
    /* width: 100%; */
    /* display: inline-block; */
    /* box-shadow: -8px -1px 13px #ccc; */
}
.PkgTitle {
    font-size:15px;
    width: auto;
    max-width: 190px;
    position: absolute;
    /* margin-top: 10px; */
    /* margin: 0; */
    border-bottom-right-radius: 10px;
    /* box-shadow: 1px 1px 3px black; */
    border-top-right-radius: 10px;
    padding: 15px;
    padding-left: 25px;
    text-align: left;
    text-shadow: 1px 1px 5px black;
    font-style: italic;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.5);
}


.ultoggle {
    font-size: small;
    background-color: #091e4b;
    text-align: left;
    padding-left: 30px;
    cursor:pointer;
}
.ultoggled{
        background-color:#001236  !important;
}
.pkgcityul
{
    /*-moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    height:100%;
    opacity:1;*/
    display:block;
}

.ulclosed
{
    /*-moz-transition: all 0s ease;
    -webkit-transition: all 0s ease;
    -ms-transition: all 0s ease;
    -o-transition: all 0s ease;
    transition: all 0s ease;
    opacity:0 !important;
    height:0 !important;*/  
    display:none !important;
}
#paymentmodalhead {
    color: white;
    text-align: center;
    padding: 15px;
    background-color: #001644;
    border-radius: 10px 10px 5px 5px;
    box-shadow: 0px 5px 5px #2f2f2f;
}
#PaymentModalPanel
{
    font-size: medium;
    padding: 0;
}

.ModalPrice{
        color: #001644;
    font-weight: 700;
}
.chooesPanel
{
    padding:15px;
}

.orange {
    color: #fba826;
}

.template4 .planFeatures {
    color: #ffffff;
    /* height: 320px; */
    /* overflow: hidden; */
}
.col-flex-1 .rslides li {
   
margin-bottom: 25px;
}

.col-flex-2 .rslides li {
    float: left;
    width: 45%;
    margin: 0 2%;
}

.col-flex-2 .rslides > li:last-child {
    border-left: 3px solid #337ab7;
    box-shadow: -2px 1px 1px rgba(18, 19, 21, 0.12);
    padding-left: 8px !important;
}

.rslides .caption {
    /* overflow: hidden; */
    min-height: 44px;
    max-height: 75px;
    font-size: 12px;
    line-height: 15px;
    width: 90%;
    text-align: left;
    display: block;
    margin: 0px 0px 20px 0;
    /* background-color: white; */
    border-left: 15px solid #009083;
    padding: 7px 0px 7px 10px;
    position: relative;
    left: 0;
}

.rslides img {
    display: block;
    /* height: auto; */
    float: none;
    width: 100%;
    /* max-width: 350px; */
    border: 0;
    margin: auto;
    /* position: relative; */
    /* right: -40%; */
    /* text-align: left; */
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.PlanPricing .planFeatures ul.rslides ul li:hover {
    background-color: #15437f;
    color: #fff;
}

.PlanPricing .planFeatures ul.rslides ul li {
    text-align: left;
    border-top: 1px rgba(0, 144, 131, 0.2) solid;
    margin: 0 auto;
    width: 85%;
    line-height: 12px;
    padding: 7px 0 5px 20px;

}
.ui-select-bootstrap .ui-select-choices-row>span {
    padding: 3px 10px;
}
.box-place {
    margin: 0px 0 0 10px;
}
.col-flex-1 {
    width: 30%;
    box-shadow: 1px 1px 1px #95afd4;
    float: left;
        margin-right: 3%;
}

.col-flex-2 {
    width: 60%;
    margin: 19px -1% 2px 2%;
    box-shadow: 1px 1px 1px #95afd4;
    float: left;
    /* border-radius: 20px; */
}

@media screen and (max-width: 980px) {
   
    .col-flex-1 {
        width: 100%;
    }
    .col-flex-2 {
        width: 100%;
        margin: auto;
    }
}

@media screen and (max-width: 480px) {

    .col-flex-1 {
        width: 90%;
        float: none;
    }
}


@media (max-width: 426px) {
    #PkgContainer
{
    padding:0px;
}
    .col-flex-1 {
        width: 100%;
        float: none;
    }
}
@media (min-width: 319px) and (max-width: 426px) {
    .ultoggle {
        font-size: 10px;
        background-color: #091e4b;
        text-align: left;
        padding-left: 20px;
        cursor: pointer;
    }
    #paymentmodalhead {
    width: 95%;
    left: 2.5%;
}
    .PlanPricing .planFeatures ul.rslides ul li {
        font-size: x-small;
            padding: 4px 0 5px 20px;
    }
    .itemSelcted h6 span {
    font-size: small;
}
    .ui-select-bootstrap .ui-select-choices-row.active .itemSelcted p {
    font-size:9px;
}
    .itemSelcted p {
    color: rgba(54, 56, 74, 0.72);
    font-size:9px;
}
    .itemSelcted i {
    float: left;
    font-size: 14px;
    padding-right: 5px;
}
.container-fluid {
padding:0 !important;
}
}
@media screen and (max-width: 768px) and (min-width: 427px) {
     


    .col-flex-1 {
        width: 99%;
        margin: 19px 0 0 0;
    }
}
a.btn.btn-success.btn-large {
    background: #009083;

}
a.btn.btn-success.btn-large:hover {
    background-color: #fba826;
}
a.btn.btn-green.btn-large {
    background-color: #fba826;
        cursor: not-allowed;
}
