.footer {
    /*background-color: #f7f7f9;*/
}

    .footer ul {
        padding-left: 0;
        list-style-type: none;
    }

    .footer a {
        color: #292b2c;
    }

        .footer a:focus, .footer a:hover {
            color: #636c72;
            text-decoration: none;
        }

.navImg {
    width: 50px;
}

.navHeader {
    color: #15437f;
    font-size: 1.75rem;
    font-weight: 500;
}

.priceValue {
    min-height: 40px;
    color: #fff;
    padding-top: 0.5rem;
}
h3.titel-package {
    text-align: center;
    font-size: xx-large;
    font-weight: 300;
    text-shadow: 1px 1px 5px #fff;
}
@media (min-width: 576px) {
    .btn-responsive {
        padding: .75rem 1.5rem;
        font-size: 1.25rem;
        border-radius: .3rem;
    }

    .priceValue {
        min-height: 50px;
        color: #fff;
        padding-top: 0.75rem;
    }
}
