@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700');
.load {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #15437f;
    text-align: center;
    padding: 14% 0 0 0;
    z-index: 900000;
}

.unload {
    display: none;
}
.toggled #page-content-wrapper .menu-mobail a
{
    background-color: transparent !important;
    color:#F44336;
        -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.toggled #page-content-wrapper .menu-mobail a i:before
{
                    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    content: "\f00d" !important;

}
.menu-mobail {
    position: absolute;
    background-color: #dfdfdf;
    top: 0;
    left: -3px;
    padding: 0;
    right: 0px;
    z-index: 99999;
            -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

    .menu-mobail a {
    /* border-right: 2px solid #2c9f94; */
    /* border-bottom: 2px solid #2c9f94; */
    color: #dfdfdf;
    font-size: 17px;
    padding: 9px 15px;
    background-color: #001644;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
            -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    }

input {
    width: 200px;
    background-color: rgba(204, 204, 204, 0);
    border: 0;
}


.itemSelcted i {
    float: left;
}

.itemSelcted h6 span {
    color: rgb(25, 22, 1);
    text-shadow: 1px 1px 1px #ccc;
}

.itemSelcted p {
    color: rgba(54, 56, 74, 0.72);
}

.ui-select-bootstrap .ui-select-choices-row:hover {
    color: #fff !important;
    text-decoration: none;
    outline: 0;
    background-color: green;
}

.ui-select-bootstrap .ui-select-choices-row.active .itemSelcted p {
    color: #fff !important;
}

.ui-select-bootstrap .ui-select-choices-row > span:hover, .ui-select-bootstrap .ui-select-choices-row > span:focus {
    background-color: rgb(175, 208, 236) !important;
}

.ui-select-bootstrap .ui-select-toggle > .caret {
    display: none;
}

.box-city {
}

.box-place {
    margin: 0 0 0 21px;
}

.SearchSelect {
    border-color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0.19) !important;
}

.alert-success {
    color: #ceefed;
    background-color: #237572;
    border-color: rgba(53, 179, 174, 0.63);
    font-size: 11pt;
}

.alert-info {
    color: #ffffff;
    background-color: rgba(217, 237, 247, 0.46);
    border-color: rgba(188, 232, 241, 0.57);
}

.alert-warning {
    color: #ffffff;
    background-color: rgba(255, 215, 0, 0.54);
    border-color: gold;
    font-size: 10pt;
    line-height: 19px;
    margin-top: 42px;
}

.alert.alert-warning a {
    color: #000;
    font-size: 18px;
    text-shadow: 1px 1px 2px #79755b;
}

.btn[disabled] {
    background-color: #777 !important;
}

.deactivationHeader {
    font-size: larger !important;
}
.Errorpage {
    color: #fff;
    padding: 39px;
    background-color: rgba(20, 68, 130, 0.66);
    border-radius: 17px;
    font-size: 14px;
    /* margin-top: 200px; */
    display: inline-block;
    width: 100%;
}
.deactivatedDevice {
    color: #fff;
    padding: 39px;
    background-color: rgba(20, 68, 130, 0.66);
    border-radius: 17px;
    font-size: 14px;
    margin-top: 200px;
}

.font-blue-madison {
    color: #91b2dc !important;
}

.deactivatedDevice b, .deactivatedDevice strong {
    color: #ffa62f;
    font-weight: 600;
}

.deactivatedDevice .btn {
    color: #FFFFFF;
    background-color: #ffb41f;
}

    .deactivatedDevice .btn:hover, .deactivatedDevice .btn:focus, .deactivatedDevice .btn:active, .deactivatedDevice .btn.active {
        color: #FFFFFF;
        background-color: #237572;
    }


.userEmail {
    top: 10px;
    position: relative;
    color: #ffffff;
    background-color: #009083;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.75);
    text-align: center;
    font-family: Raleway;
    font-weight: 500;
    text-shadow: 0px 0px 5px #000;
    font-size: 65%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 100px;
    width: 235px;
    border-radius: 0px 10px 10px 0px;
    /* margin: 0 auto; */
}

.userEmail img
{
    top: 5px;
    width: 90px;
    border-radius: 50%;
    box-shadow: 0px 0px 3px white;
    position: relative;
}
.chooesPanel div {
    width: 50%;
    color: #150303;
    text-align: center;
}

    .chooesPanel div:first-of-type {
        border-right: 5px solid #ccc;
    }

    .chooesPanel div img {
        max-width: 100%;
    }

.webmoneyIcon {
    display: block;
}
.sidebar-nav li a i {
    width: 40px;
    text-align: center;
    color: #bfe1ff;
}

