.load {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #15437f;
    text-align: center;
    padding: 14% 0 0 0;
    z-index: 900000;
    color: #fff;
}

.unload {
    display: none;
}

.load #IAGLogo {
    max-width: 201px;
    width: 50%;
}

.preloader-box {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(21, 67, 127, 0.36);
    bottom: 0;
    right: 0;
    text-align: center;
    padding: 20px;
}

.IAGblueBack {
    background-color: #15437f;
}

    .IAGblueBack b {
        color: #26a69a;
    }

.IAGgreenColor {
    color: #26a69a;
}

.webmoneyColor {
    color: #3783c9;
}

.zarinpalColor {
    color: #fdc645;
}

.shetabColor {
    color: #3497fd;
}

header, main, footer {
    padding-left: 300px;
}

main {
    min-height: 60vh;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.side-nav .background {
    background-color: #15437f;
}

.side-nav li > a > i {
    margin: 0 5px 0 0;
}

.hidden {
    display: none;
}

.userPreloader.progress {
    margin: 0;
}

.waves-effect.waves-Blue .waves-ripple {
    /* The alpha value allows the text and background color
        of the button to still show through. */
    /*background-color: rgba(21, 67, 127, 0.65);*/
    background-color: #15437f;
}


nav.navbar-material {
    background: #15437f;
    border: none;
    box-shadow: none;
}

    nav.navbar-material .brand-logo {
        height: inherit;
    }

        nav.navbar-material .brand-logo img {
            height: 100%;
        }

.brand-logo.secondLogo {
    padding-left: 60px;
}


.Cities .subheader h4 {
    font-size: x-large;
}

.pakage .collapsible-header {
    padding: 0;
}


    .pakage .collapsible-header .collection .collection-item.avatar,
    .modal.bottom-sheet.PaymentModal .collection .collection-item.avatar {
        padding-left: 90px;
    }

        .pakage .collapsible-header .collection .collection-item.avatar .circle,
        .modal.bottom-sheet.PaymentModal .collection .collection-item.avatar .circle {
            height: 65px;
            width: 65px;
            border-radius: initial;
        }

/*.pakage .collapsible-header .collection .collection-item.avatar .title,
                .pakage .collapsible-header .collection .collection-item.avatar .p {
                    white-space: nowrap;
                }*/

.pakage .card-content blockquote {
    border-left: 5px solid #26a69a;
}

.pakage .collapsible blockquote {
    margin: 0;
    border-left: 5px solid #26a69a;
}

.pakage .collapsible span.badge {
    float: initial;
    padding: 0;
    margin-left: 0;
    margin-right: 14px;
}

.pakage .collapsible-body {
    max-height: 300px;
    overflow-x: scroll;
}

    .pakage .collapsible-body .collection .collection-item.avatar {
        min-height: 60px;
    }

.pakage .card-action {
    direction: rtl;
}

nav.subheader {
    background-color: whitesmoke;
    height: 64px;
    line-height: 64px;
    color: #000;
}

    nav.subheader .input-field input[type=search] {
        background-color: #fff;
        border: 0;
        box-shadow: none;
        color: #444;
    }

    nav.subheader .input-field label i {
        color: #444;
    }

.waves-teal.active {
    background-color: #26a69a;
    color: #fff;
}

    .waves-teal.active:hover {
        background-color: #26a69a;
    }

    .waves-teal.active i {
        color: #fff;
    }

.page-footer {
    background-color: #15437f;
}

    .page-footer .footer-copyright {
        background-color: rgba(51, 51, 51, 0.25);
    }

        .page-footer .footer-copyright .copyRight {
            float: left !important;
            padding: 0;
        }

        .page-footer .footer-copyright .termsLink {
            float: right !important;
        }

.linkDivider {
    float: right;
    padding: 0 5px;
}

.brandContainer a,
.brandContainer h5 {
    display: inline-block;
    vertical-align: middle;
}

.page-footer .brandContainer a img {
    width: 40px;
    height: auto;
}

.page-footer .GetItOn a img {
    margin-top: 7px;
}

.notSetDevice {
    color: #000;
    background-color: whitesmoke;
    border: solid 2px #26a69a;
    padding: 10px;
    border-radius: 2px;
}

.Tooltips li {
    display: inline-block;
    margin: 0 20px 0 0;
}

    .Tooltips li a i {
        color: #fff;
    }

.modal.bottom-sheet.PaymentModal {
    max-height: 85%;
}

    .modal.bottom-sheet.PaymentModal .modal-content {
        padding-bottom: 0;
    }

    .modal.bottom-sheet.PaymentModal .secondary-content {
        top: 27px;
    }

@media only screen and (max-width: 992px) {
}

.collapsible-body p.loading {
    position: absolute;
    top: 15px;
    left: 10px;
    color: #26a69a !important;
    opacity: 0.65;
}

p.loading {
    position: absolute;
    top: 26%;
    left: 4%;
    color: #26a69a !important;
    opacity: 0.65;
}

    p.loading i {
        font-size: 2.3rem;
    }

@media only screen and (max-width: 600px) {
    p.loading {
        position: absolute;
        top: 15%;
        left: 41%;
    }

    main {
        min-height: unset;
    }

    .Cities .subheader h4 {
        font-size: larger;
    }

    .card.horizontal.FirstCity {
        display: block;
    }

        .card.horizontal.FirstCity .card-image {
            max-width: initial;
        }

            .card.horizontal.FirstCity .card-image a {
                display: block;
            }

        .card.horizontal.FirstCity .card-action {
            display: none;
        }

    .pakage .collapsible.popout > li:not(.active) {
        margin: 0 10px;
    }

    .pakage .collapsible-header .collection .collection-item.avatar {
        padding-left: 0;
        padding-top: 130px;
    }

        .pakage .collapsible-header .collection .collection-item.avatar .circle {
            width: 100px;
            height: 100px;
            top: 15px;
            left: 50%;
            margin-left: -50px;
        }

    .page-footer .row {
        text-align: center;
    }

    .footer-copyright .row .col {
        padding-top: 7px;
    }

    .footer-copyright .row .copyRight,
    .footer-copyright .row .termsLink,
    .footer-copyright .row .termsLink a,
    .footer-copyright .row .termsLink span {
        float: none !important;
    }

    .Tooltips {
        margin-left: 20px;
    }
}

@media only screen and (min-width: 601px) {
    .Cities .col.s12.m4.xl3 .card {
        min-height: 430px;
    }
}

@media (max-width: 992px) {
    .brand-logo.secondLogo {
        display: none;
    }

    .subheader {
        margin-left: auto;
        margin-right: auto;
    }
}
/* serach*/
input[type=search]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid rgba(38, 166, 154, 0.43);
    -webkit-box-shadow: 0 1px 0 0 rgba(38, 166, 154, 0.43);
    box-shadow: 0 1px 0 0 rgba(38, 166, 154, 0.43);
}

.md-focused {
    border-bottom: 1px solid #26a69a !important;
    -webkit-box-shadow: 0 1px 0 0 #26a69a !important;
    box-shadow: 0 1px 0 0 #26a69a !important;
}

md-chips.md-default-theme md-chip md-icon, md-chips md-chip md-icon {
    color: rgb(255, 255, 255);
}

md-chips.md-default-theme md-chip, md-chips md-chip {
    background: rgb(38, 166, 154);
    color: rgb(255, 255, 255);
}


.subheader .search-box .nav-wrapper {
    background-color: #fff;
}

nav.subheader {
    border: 1px solid ridge;
}

    nav.subheader i {
        display: -webkit-inline-box;
        position: relative;
        top: 14px;
        font-size: 36px;
    }

    nav.subheader .subheader-text {
        font-size: 22px;
    }

/* end search   */


@media only screen and (min-width: 1444px) {
    .card.darken-1.pakage {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}
/*error page*/
.Errorpage {
    width: 84%;
    margin: auto;
    padding: 5% 0 24%;
}

    .Errorpage h1 {
        font-size: 1.2rem;
        line-height: 110%;
        margin: 2.1rem 0 1.68rem 0;
    }

/*end error page*/
.infoSendEmailAgain a {
    font-weight: 900;
    color: #000;
}
/* return to payment*/



.fa.fa-box {
    /*font-size: 85px;
    color: #ffffff;
    margin: 65px 0 0 0;
    background: #F7D65D;
    padding: 14px 20px;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 12px #765D00;*/
    font-size: 85px;
    color: #312807;
    margin: 0px !important;
    background: #F7D65D;
    padding: 14px 20px;
    border-radius: 40PX;
    margin: 65px;
    padding: 22px 29px;
}
.fa.failePayment {
    color: #312807;
    background: #F7D65D;
}
.fa.successPayment {
    color: #fff;
    background: #26a69a;
}

.card .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;
    max-width: 727px;
    margin: auto;
}
.card .card-content ul li {

    text-align:center;
    font-size: 20px;
}

.subheader h5 {
    display: inline-block;
    margin: .82rem 1rem .656rem 1rem;
}

h3.tile {
    font-size: 2.92rem;
    line-height: 110%;
    margin: 1.46rem 0 1.168rem 0;
    color: #F7D65D;
    text-align: center;
}

h5.content {
    margin: auto;
    width: 427px;
}