
@using Resources
@{
    ViewBag.Title = Global.TitlePageConfirmEmail;
}
<h2>@ViewBag.Title.</h2>
<div>
    <p>
        @(string.Format(Global.Parameter37, Html.ActionLink(Global.Parameter38, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })))
       
    </p>
</div>
