@{
    ViewBag.Title = Resources.Global.TitlePageForgotConfirmation;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Resources.Global.Parameter41
    </p>
</div>
	
