
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Return</title>
</head>
<body>
    <div> 
        @ViewBag.BankName <br />
        @ViewBag.Message <br />
        @ViewBag.SaleReferenceId <br />
        <img src="@ViewBag.Image" />
    </div>
</body>
</html>
