@using IranAudioGuide_MainServer.App_GlobalResources
@{
    ViewBag.Title = "Return";
    Layout = "~/Views/Shared/_PaymentLayout.cshtml";
}
<style>
    .jumbotron {
        text-align: center;
        /*display: inline-block;
        display: -webkit-inline-box;*/
    }

    .content-jumbotron {
        text-align: center;
        max-width: 483px;
        margin: 0 auto;
        /*border: 1px solid red;*/
    }

    .failePayment {
        background-color: #fddd02;
        padding: 2px 0px 0 0;
    }

    .successPayment {
        background-color: #8fc140;
    }

    .fa-box {
        color: rgb(255, 255, 255);
        text-shadow: 0px 0px 1px #000;
        font-size: 45px;
        text-align: center;
        border-radius: 50%;
        margin: 0 auto;
        width: 75px;
        height: 75px;
    }

    p.title {
        font-weight: 700;
        font-size: 23px;
    }

    .box-info {
        line-height: 15px;
        padding-top: 16px;
        color: #000;
    }

    p.packInfo {
        font-weight: 500;
    }
</style>
<table class="container-fluid">
    <tr>
            <!-- Image and text -->
            <td class="navbar navbar-ligth pt-0">
                <p class="navbar-brand pt-0">
                    <img src="~/images/IAGSITELOGO.png" class="d-inline-block navImg" />
                    <span class="align-middle navHeader">@Global.IranAudioGuide</span>
                </p>
            </td>

    </tr>
    <tr>
        <td class="jumbotron my-3 ">

            <p class="content-jumbotron">

                <p class="fa-box successPayment">
                    <i class="fa fa-thumbs-o-up"></i>
                </p>

                <p class="title"> Payment completed successfully.   </p> @*Global.Paymentsuccessfully*@
                <p>You have access to the package below. Thank you for your purchase!</p>@*Global.ZarinpalPaymentMsg5*@
                <p class="box-info">
                    <p class="packInfo">Reference ID </p>
                    <p><i class="fa fa-key"></i> @ViewBag.SaleReferenceId <p>@*@Global.ReturnPaymentReferenceID*@
                    <p class="packInfo"> Package Name @*@Global.PaymentPage27*@</p>
                    <p><i class="fa fa-briefcase"></i> Packname  </p>
                    <p class="packInfo">Price @*@Global.Price*@</p>
                    <p><i class="fa fa-briefcase"></i> Price  </p>

                </p>
            </p>
        </td>
    </tr>
</table>