
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <ul>
            <li>
                <a href="#" onclick="f1()">google</a>
            </li>
            <li>
                <a href="#" onclick="f2()">create</a>
            </li>
            <li>
                <a href="#" onclick="f3()">enter</a>
            </li>
        </ul>
    </div>
    <script src="~/Scripts/jquery.js"></script>
    <script>
        var user = {
            name: "soroosh",
            gender: 'male',
            email: "so@g.com",
            google_id: "34567",
            picture: "fghj",
            profile: "ghjkl"
        };
        var appUser = {
            email: "soroosh.ansari@gmail.com",
            password: "123456789"
        };
        var f1 = function () {
            console.log(user);
            $.post(
                "../api/AppManager/AutenticateGoogleUser",
                user)
                .then(function (o) {
                    console.log("1");
                    console.log(o);
                },
                function (err) {
                    console.log("2");
                    console.log(err)
                });
        }
        var f2 = function () {
            console.log(appUser);
            $.post(
                "../api/AppManager/ResgisterAppUser",
                appUser)
                .then(function (o) {
                    console.log("1");
                    console.log(o);
                },
                function (err) {
                    console.log("2");
                    console.log(err)
                });
        }
        var f3 = function () {
            console.log(appUser);
            $.post(
                "../api/AppManager/AuthoruzeAppUser",
                appUser)
                .then(function (o) {
                    console.log("1");
                    console.log(o);
                },
                function (err) {
                    console.log("2");
                    console.log(err)
                });
        }
    </script>
</body>
</html>
