
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <ul>
            <li>
                <a href="#" onclick="f1()">google</a>
            </li>
            <li>
                <a href="#" onclick="f2()">create</a>
            </li>
            <li>
                <a href="#" onclick="f3()">enter</a>
            </li>
            <li>
                <a href="#" onclick="f4()">enter get</a>
            </li>
        </ul>
    </div>
    <script src="~/Scripts/jquery.js"></script>
    <script>
        var user = {
            name: "soroosh",
            gender: 'male',
            email: "sorosh.ansari@gmail.com",
            google_id: "34567",
            picture: "fghj",
            profile: "ghjkl",
            uuid: "3fa3756559779e06"
        };
        var appUser = {
            email: "sorosh.ansari@gmail.com",
            password: "123456789",
            uuid: "3fa3756559779e01"
        };
        var f1 = function () {
            console.log(user);
            $.post(
                "http://iranaudioguide.com/api/AppManager/AutenticateGoogleUser",
                user)
                .then(function (o) {
                    console.log("1");
                    console.log(o);
                },
                function (err) {
                    console.log("2");
                    console.log(err)
                });
        }
        var f2 = function () {
            console.log(appUser);
            $.post(
                "http://iranaudioguide.com/api/AppManager/ResgisterAppUser",
                appUser)
                .then(function (o) {
                    console.log("1");
                    console.log(o);
                },
                function (err) {
                    console.log("2");
                    console.log(err)
                });
        }
        var f3 = function () {
            console.log(appUser);
            $.ajax({
                url: 'http://iranaudioguide.com/api/AppManager/AuthorizeAppUser',
                data: appUser,
                type: 'POST',
                crossDomain: true,
                dataType: 'jsonp',
                success: function (o) {
                    console.log("1");
                    console.log(o);
                },
                error: function (err) {
                    console.log("2");
                    console.log(err)
                }
            });
            //$.post(
            //    "http://iranaudioguide.com/api/AppManager/AuthorizeAppUser",
            //    appUser)
            //    .then(function (o) {
            //        console.log("1");
            //        console.log(o);
            //    },
            //    function (err) {
            //        console.log("2");
            //        console.log(err)
            //    });
        }
        var f4 = function () {
            console.log(appUser);
            $.get(
                "../api/AppManager/AuthorizeAppUserGet",
                appUser)
                .then(function (o) {
                    console.log("1");
                    console.log(o);
                },
                function (err) {
                    console.log("2");
                    console.log(err)
                });
        }
    </script>
</body>
</html>
