@model IranAudioGuide_MainServer.Models.CreatBarCodeVM
@{
    ViewBag.Title = "Index";
}
@section Styles{
    <style>
    </style>
}
<h2>Seller</h2>
@using (Html.BeginForm("CreatNewBarcode", "Seller", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            <td>Price:</td>
            <td>@Html.TextBoxFor(x => x.price)</td>
        </tr>
        <tr>
            <td>Quantity:</td>
            <td>@Html.TextBoxFor(x => x.quantity)</td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit">Insert</button></td>
        </tr>
    </table>
}


