<ion-view title="Packages" id="packages">
    <ion-nav-bar enable-menu-with-back-views="true" class="bar-stable bar-transparent">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content padding="false" class="has-header">
        <div class="list card" id="packages-card24">
            <ion-item class="item-icon-right  pkg_name" id="packages-list-item25">
                South West Package
                <i class="icon ion-ios-briefcase-outline"></i>
            </ion-item>
            <div class="item item-body pkg_box" id="packages-list-item-container9">
                <div id="packages-markdown10" style="text-align:justify;" class="show-list-numbers-and-dots pkg_desc">
                    <p style="margin-top:0px;color:#000000;font-size:13px;">
                        <strong>Description</strong>
                    </p>
                </div>
                <ion-list id="packages-list2">
                    <ion-item class="item-divider pkg_citynameCard" id="packages-list-item-divider2"> Shiraz</ion-item>
                    <ion-item class="item-divider pkg_citynameCard" id="packages-list-item-divider1"> Ahwaz</ion-item>
                    <ion-item class="item-divider pkg_citynameCard" id="packages-list-item-divider3"> Boushehr</ion-item>
                </ion-list>
                <button id="packages-button1" style="font-weight:500;font-size:13px;border-radius:5px 5px 5px 5px;" class="button button-positive button-small icon-right ion-android-add-circle pkg_buybtn">Get - Price{$}</button>
            </div>
        </div>
        <button ng-click="goBack()" class="button button-large button-block button-royal">Go Back</button>
    </ion-content>
</ion-view>
<style>
    .pkg_desc {
        padding-left: 15px;
        border-left: 5px solid #387EF5;
        margin-bottom: 10px;
    }

    .pkg_citynameCard {
        font-size: 12px !important;
        padding: 5px;
        border-bottom: 3px solid #add8e6 !important;
    }

    .pkg_buybtn {
        position: absolute;
        right: 16px;
        margin-top: 5px;
        padding: 5px 20px;
    }

    .pkg_name {
        border-top: thick solid #3F51B5 !important;
    }

    .pkg_box {
        padding-bottom: 50px;
    }
</style>