<ion-view title="" id="page6">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="cameraTabDefaultPage-card21">
            <ion-item class="item-icon-left  item-divider">
                <i class="icon ion-pin"></i>{{PlaceInfo.PlaceName}}
            </ion-item>
            <div class="item item-image">
                <img src="{{PlaceInfo.PlaceImage}}"
                     width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <!--<ion-row>
                <ion-col>
                    <button ion-button icon-left clear small>
                        <ion-icon name="thumbs-up"></ion-icon>
                        <div>12 Likes</div>
                    </button>
                </ion-col>
                <ion-col>
                    <button ion-button icon-left clear small>
                        <ion-icon name="text"></ion-icon>
                        <div>4 Comments</div>
                    </button>
                </ion-col>
                <ion-col center text-center>
                    <ion-note>
                        11h ago
                    </ion-note>
                </ion-col>
            </ion-row>-->

            <div class="item-body">
                <div style="color:#000000;">
                    <p ng-bind-html="ModifyText(PlaceInfo.PlaceDescription)" style="margin-top:0px;"></p>
                </div>
                <ion-list ng-show="PlaceInfo.Audios.length" id="AudiosCard">
                    <ion-item ng-repeat="audio in PlaceInfo.Audios" class="item-icon-left positive">
                        <i ng-show="!audio.downloading" 
                           ng-click="audioClicked($index)"
                           ng-class="ChooseClass(audio.downloaded, audio.playing)" 
                           class="icon dark"></i>
                        <div ng-show="audio.downloading"
                             ng-class="percentClass(audio.downloadProgress)"
                             style="position:absolute; left:14px; font-size:20px" class="c100">
                            <span></span>
                            <div class="slice">
                                <div class="cbar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                        {{audio.Name}}
                        <ion-option-button  ng-click="removeTrack(audio.Id, $index, 1)" ng-show="audio.downloaded"><i class="icon ion-trash-a assertive"></i></ion-option-button>
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <div ng-show="PlaceInfo.Stories.length" class="list card">
            <ion-item class="item-icon-left  item-divider">
                <i class="icon ion-ios-glasses-outline"></i>Related Stories
            </ion-item>
            <div class="item-body">
                <ion-list id="StoriesCard">
                    <ion-item class="item-icon-left balanced"
                              ng-repeat="story in PlaceInfo.Stories" id="cameraTabDefaultPage-list-item17">
                        <i ng-show="!story.downloading"
                           ng-click="StoryClicked($index)"
                           ng-class="ChooseClass(story.downloaded, story.playing)"
                           class="icon dark"></i>
                        <div ng-show="story.downloading"
                             ng-class="percentClass(story.downloadProgress)"
                             style="position:absolute; left:14px; font-size:20px" class="c100">
                            <span></span>
                            <div class="slice">
                                <div class="cbar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>

                        {{story.Name}}
                        <ion-option-button><i class="icon ion-trash-a assertive"></i></ion-option-button>
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <div ng-show="PlaceInfo.ExtraImages.length" class="list card">
            <ion-item class="item-icon-left  item-divider">
                <i class="icon ion-images"></i>Galery Item
            </ion-item>
            <ion-slide-box auto-play="false" does-continue="false"
                           on-slide-changed="slideHasChanged($index)">
                <ion-slide ng-repeat="img in PlaceInfo.ExtraImages" class="margin">
                    <img src="{{img.path}}"
                         style="display: block; margin-left: auto; margin-right: auto; width:100%; height:auto;">
                </ion-slide>
            </ion-slide-box>
            <div class="item item-body">
                <div style="color:#000000;">
                    <p style="margin-top:0px;">
                        {{ExtraImageMarkDown}}
                    </p>
                </div>
            </div>
        </div>
        <div ng-show="PlaceInfo.Tips.length" class="list card" id="cameraTabDefaultPage-card23">
            <ion-item class="item-icon-left  item-divider" id="cameraTabDefaultPage-list-item30">
                <i class="icon ion-android-bulb"></i>Tips
            </ion-item>
            <div id="cameraTabDefaultPage-container3">
                <div class="item item-body" id="cameraTabDefaultPage-list-item-container12">
                    <ion-list ng-repeat="tip in PlaceInfo.Tips">
                        <ion-item class="item-icon-left">
                            <i ng-class="tip.Class" class="icon"></i>
                            {{tip.Content}}
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
<style>
    .my-show-hide-animation.ng-hide-add,
    .my-show-hide-animation.ng-hide-remove {
        -webkit-transition: 0.5s linear all;
        transition: 0.5s linear all;
        /* remember to add this */
        display: block !important;
        opacity: 1;
    }

    .my-show-hide-animation.ng-hide {
        opacity: 0;
    }
</style>
