<ion-view title="" hide-nav-bar="true" id="page1" class="">
    <ion-content padding="true"
                 class="manual-ios-statusbar-padding">
        <!--<div class="contactoverlay">
            <img src="../img/bars.svg">
            <p class="ng-binding ng-hide"></p>
        </div>-->
        <div style="width:100%; height:100%; margin:0; padding:0; background-color:#003344; margin:0 auto; text-align:center;">
        <ion-spinner style="position:absolute; top:40%" icon="lines"></ion-spinner>
        </div>
    </ion-content>
</ion-view>

<!--style="background: url(img/splash.png) no-repeat center;background-size:cover;"-->