<ion-view title="" id="recoverPage" class="gradiantBG">
    <ion-nav-bar class="bar-stable bar-transparent">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <h4 id="recoverPassword-heading5" style="color:#000000;text-align:center;" class=" ">Enter the Email for your account</h4>
        <div class="spacer" style="width: 300px; height: 30px;"></div>
        <form id="recoverPassword-form7" class="list ">
            <label class="item item-input " id="recoverPassword-input11">
                <span class="intputLable ion-email"></span>
                <input type="email" placeholder="Email">
            </label>
        </form>
        <button id="recoverPassword-button16" class="button button-primary  button-block">Recover</button>
    </ion-content>
</ion-view>