
<ion-view title="Tabs Controller" id="page1">
    <ion-side-menus enable-menu-with-back-views="true" data-componentid="side-menu21">
        <ion-side-menu-content>
            <ion-nav-bar class="bar-stable">
                <ion-nav-back-button></ion-nav-back-button>
                <ion-nav-buttons side="right">
                    <button class="button button-icon button-clear ion-headphone" menu-toggle="right"></button>
                </ion-nav-buttons>
            </ion-nav-bar>
            <ion-tabs class="tabs-stable tabs-icon-only">
                <ion-tab icon="ion-ios-home" href="#/page1/page2">
                    <ion-nav-view name="tab1"></ion-nav-view>
                </ion-tab>
                <ion-tab icon="ion-ios-bookmarks" href="#/page1/page3">
                    <ion-nav-view name="tab2"></ion-nav-view>
                </ion-tab>
                <ion-tab icon="ion-ios-search-strong" href="#/page1/page4">
                    <ion-nav-view name="tab3"></ion-nav-view>
                </ion-tab>
            </ion-tabs>
        </ion-side-menu-content>
        <ion-side-menu side="right" id="side-menu21">
            <ion-content padding="false" class="side-menu-right">
                <ion-list id="menu-list1" class="">
                    <ion-item class="item-avatar positive" id="menu-list-item4">
                        <img src="{{User_Img}}">
                        <h2positive ng-hide="User_GoogleId == ''">
                            {{User_Name}}
                            <p>{{User_Email}}</p>
                        </h2positive>
                        <div ng-show="User_GoogleId == ''">
                            <div ng-show="Skipped === false || Skipped == 'false'">
                                {{User_Email}}
                            </div>
                            <button ng-click="googleLogin()" id="login-button4" class="button button-assertive button-block icon-left ion-social-google-outline">
                                Sign In with Google
                            </button>
                            <a ng-show="Skipped === true || Skipped == 'true'" ui-sref="signup" class="button button-balanced button-block">
                                Register
                            </a>
                        </div>
                    </ion-item>
                    <div class="list">
                        <div ng-show="SPinfo.hasMedia" ng-bind="SPinfo.trackInfo.Name" class="item item-divider center item-stable">
                        </div>

                        <div class="item player">
                            <div class="row">
                                <div class="col col-offset-10"><i class="icon ion-arrow-return-right"></i>10s</div>
                                <div class="col"><i ng-click="SPplayPause()" ng-class="SPchooseClass(SPinfo.playing)" class="icon"></i></div>
                                <div class="col">10s<i class="icon ion-arrow-return-left"></i></div>
                            </div>
                            <div class="list">
                                <div class="item range noBoarder">
                                    <i>3:34</i>
                                    <input type="range" name="volume" min="0" max="100" value="33">
                                    <i>7:21</i>
                                </div>
                            </div>
                        </div>
                        <div class="item item-divider">
                            Recently Played
                        </div>

                        <a href="#" class="item item-icon-left">
                            <i class="icon ion-play"></i>
                            Who was hafez
                        </a>
                    </div>
                    <!--<a ng-click="ShowPackage()" class="button button-balanced button-block">
                        Packages
                    </a>-->
            </ion-content>
            <ion-footer-bar class="bar-stable">
                <h5 style="text-align:center; width: 100%;">Made with <i class="icon ion-ios-heart assertive"></i> on planet earth</h5>
            </ion-footer-bar>
        </ion-side-menu>
    </ion-side-menus>
</ion-view>