<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PaymentGatewayImplServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="PaymentGatewayImplServiceSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://bpm.shaparak.ir/pgwchannel/services/pgw"
                binding="basicHttpBinding" bindingConfiguration="PaymentGatewayImplServiceSoapBinding"
                contract="MellatWebService.IPaymentGateway" name="PaymentGatewayImplPort" />
        </client>
    </system.serviceModel>
</configuration>