@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Main -->
<div id="main">
    <!-- Intro -->
    <section id="top" class="one dark cover">
        <div class="container">

            <header class="text-Dark">
                <h2 class="alt">
                    Iran Audio Guide Server
                </h2>
                <p>
                    Easiest way to manage your application's audios.
                </p>
            </header>

            <footer>
                <a href="#NewPlace" class="button scrolly">Add new Place</a>
            </footer>

        </div>
    </section>

    <!-- Place list -->
    <section id="PlaceList" class="two">
        <div class="container">

            <header>
                <h2>Places</h2>
            </header>

            <p>
                Easily manage places audios by select them to fill player,
                 then you can add new audios or remove them.
                 Also, by pressing edit button you can edit place information like name,
                 adding extra images or change existence ones. 
            </p>
            <div id="Player" class="Player">
                <div class="row head">
                    <div class="player-image 3u">
                        <img src="../images/Places/{{placeimage}}" />
                    </div>
                    <div class="7u">
                        <ul>
                            <li class="12u$">
                                <h4 class="AudioTitle">{{AudioTitle}}</h4>
                            </li>
                            <li class="12u$">
                                <ul class="nav-pills buttons">
                                    <li class="prev" ng-click="Audio_prev()"></li>
                                    <li class="{{PlayStatus}}" ng-click="Audio_Play()"></li>
                                    <li class="next" ng-click="Audio_next()"></li>
                                </ul>
                            </li>
                            @*<li class="12u$ pb">
                                    <div class="progress-bar progress-bar-success" role="progressbar" ng-style="audioProgress">
                                        {{}}
                                    </div>
                                </li>*@
                        </ul>
                    </div>
                    <div class="2u$">
                        <a ng-show="selectedPlaceId != null" href="" ng-click="NewAudio()" class="btn btn-primary btn-block">
                            <i class="fa fa-plus"></i>
                            Add Audio
                        </a>
                    </div>
                </div>
                <ul class="audiosList">
                    @*<li ng-show="!audios.length">Add audio.</li>*@
                    <li ng-repeat="audio in audios" ng-click="loadAudio(audio.Index)" class="listItem">
                        <div class="row">
                            <div class="1u white">{{audio.Index}}.</div>
                            <div class="9u white">{{audio.Aud_Name}}</div>
                            <div class="2u$">
                                <a href="" ng-click="removeAudio(audio.Aud_Id)" class="btn btn-danger btn-block">
                                    <i class="fa fa-remove"></i>
                                    remove
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <table class="default" id="placeTbl">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Name</td>
                        <td>City</td>
                        <td>Edit</td>
                        <td>Remove</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="hoverable" ng-click="LoadPlaceAudios(place.PlaceId)" ng-repeat="place in places">
                        <td>{{place.Index}}</td>
                        <td>{{place.PlaceName}}</td>
                        <td>{{place.CityName}}</td>
                        <td>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary btn-block"
                                    ng-click="ShowEditPlaceModal(place)">
                                <span class="fa fa-edit"></span> Edit
                            </button>
                        </td>
                        <td>
                            <div role="button" tabindex="0" class="btn btn-danger btn-block rmvPlc"
                                 ng-click="RemovePlace(place.PlaceId, place.PlaceName)">
                                <span class="fa fa-remove"></span> Remove
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <ul class="nav nav-tabs nav-justified">
                                <li>
                                    <a href="" ng-click="PreviousPlace()"><span class="fa fa-chevron-left"></span> Previus</a>
                                </li>
                                <li>
                                    <a class="text-primary">page {{PlaceCurrentPage + 1}} (out of {{PlacePagesLen}} pages)</a>
                                </li>
                                <li>
                                    <a href="" ng-click="NextPlace()">Next <span class="fa fa-chevron-right"></span></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </section>

    <!-- New Audio -->
    <section id="NewPlace" class="three">
        <div class="container">

            <header>
                <h2>New Place</h2>
            </header>

            <p>
                Create new place by filling the form.
                 Remember, to fill the star boxes.
            </p>
            <form role="form" name="NewPlaceForm" class="NewPlaceForm" ng-submit="AddPlace(NewPlace, NewPlaceForm)">
                <ul class="formError text-danger" ng-show="NewPlaceForm.$submitted">
                    <li ng-show="NewPlaceForm.PlaceName.$error.required"><strong>Place name must be fill.</strong></li>
                    <li ng-show="NewPlaceForm.Image.$error.required"><strong>Place Image must be choose.</strong></li>
                    <li ng-show="NewPlaceForm.PlaceCityId.$error.required"><strong>Place city must be choose.</strong></li>
                    <li><strong>{{additionalError}}</strong></li>
                </ul>
                <div class="row">
                    <div class="6u 12u$(mobile)">
                        <input type="text" ng-model="NewPlace.PlaceName" name="PlaceName" required placeholder="Place name*" />
                    </div>
                    @*<div class="6u 12u$(mobile)">
                            <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                                 ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                                 ngf-resize="{width: 100, height: 100}">Select</div>
                        </div>*@
                    <div class="4u 9u(mobile)">
                        <input type="text" name="imgUrl" placeholder="Place image*" disabled />
                    </div>
                    <div class="2u$ 3u$(mobile) lessPading">
                        <input class="inputfile" type="file"
                               file-model="NewPlace.Image"
                               onchange="angular.element(this).scope().SetImageName(this)"
                               id="Image" name="Image" required />
                        <label for="Image" class="btn-primary">Choose</label>
                    </div>
                    <div class="6u 12u$(mobile)">
                        <select ng-model="NewPlace.PlaceCityId" name="PlaceCityId" required>
                            <option value="">Select City*</option>
                            <option ng-repeat="city in AllCities" value="{{city.CityID}}">{{city.CityName}}</option>
                        </select>
                    </div>
                    <div class="6u$ 12u$(mobile)">
                        <input type="text" ng-model="NewPlace.PlaceCordinates" value="" name="PlaceCordinates" placeholder="Place Cordinates" />
                    </div>
                    <div class="12u$">
                        <textarea ng-model="NewPlace.PlaceDesc" name="PlaceDesc" rows="3" placeholder="Place description"></textarea>
                    </div>
                    <div class="12u$">
                        <textarea ng-model="NewPlace.PlaceAddress" name="PlaceAddress" rows="1" placeholder="Place Address"></textarea>
                    </div>
                    <div class="12u$">
                        <input type="submit" value="Add place" />
                    </div>
                </div>
            </form>
        </div>
    </section>

    <!-- Cities List -->
    <section id="Cities" class="four">
        <div class="container">
            <header>
                <h2>Cities</h2>
            </header>
            <p>
                Create new city just by filling its name (filling description box is optional). 
                This information will be used to categorize places.
            </p>
            <table class="default" id="ctyTbl">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Name</td>
                        <td>Description</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="city in cities">
                        <td>{{city.Index}}</td>
                        <td>{{city.CityName}}</td>
                        <td><p>{{city.CityDesc}}</p></td>
                        <td>
                            <div role="button" tabindex="0" class="btn btn-danger btn-block rmvCty" ng-click="RemoveCity(city.CityID, city.CityName)">
                                <span class="fa fa-remove"></span> Remove
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <ul class="nav nav-tabs nav-justified">
                                <li>
                                    <a href="" ng-click="PreviousCity()"><span class="fa fa-chevron-left"></span> Previus</a>
                                </li>
                                <li>
                                    <a class="text-primary">page {{CityCurrentPage + 1}} (out of {{CityPagesLen}} pages)</a>
                                </li>
                                <li>
                                    <a href="" ng-click="NextCity()">Next <span class="fa fa-chevron-right"></span></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <div class="row myDivider">
                <div class="4u">
                    <hr />
                </div>
                <div class="4u">
                    <span>
                        Add new City
                    </span>
                </div>
                <div class="4u$">
                    <hr />
                </div>
            </div><!-- /.col -->
            <form name="NewCityForm" role="form" ng-submit="AddCity(NewCity, NewCityForm)" novalidate>
                <div class="row">
                    <div class="6u$ 12u$(mobile)">
                        <div class="formError" ng-show="NewCityForm.$submitted || NewCityForm.CityName.$touched">
                            <p class="text-danger" ng-show="NewCityForm.CityName.$error.required">City name must be fill.</p>
                        </div>
                        <input type="text" ng-model="NewCity.CityName" name="CityName" required placeholder="City name*" />
                    </div>
                    <div class="12u$">
                        <textarea ng-model="NewCity.CityDesc" name="CityDesc" placeholder="City description" rows="2"></textarea>
                    </div>
                    <div class="12u$">
                        <input type="submit" value="Add City" />
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="ForignKeyErrorModal" tabindex="-1" role="dialog" aria-labelledby="ForignKeyErrorModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="text-danger">Removing Failed</h3>
                    <a href="" ng-click="hide('#ForignKeyErrorModal')">
                        <i class="fa fa-2x fa-times ModalDismissIco"></i>
                    </a>
                </div>
                <div class="modal-body" id="ForignKeyErrorModal_body">
                    <div class="container text-info" ng-bind-html="ForignKeyErrorBody">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="ForignKeyErrorModal_close" class="btn btn-info" data-dismiss="modal">Close</button>
                    <button type="button" id="ForignKeyErrorModal_Delete" class="btn btn-danger {{DelSubsBtn}}" data-id="">{{DelSubsBtnText}}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- NewAudio Modal -->
    <div class="modal fade" id="NewAudioModal" tabindex="-1" role="dialog" aria-labelledby="NewAudioModalLabel">
        <!--overlay-->
        <div ng-show="ShowOverlay" style="position: absolute;top:0px;left:0px;width: 100%; height: 100%; z-index:1000000; background-color: rgba(255,255,255,0.3);">
            <div id="floatingCirclesG">
                <div class="f_circleG" id="frotateG_01"></div>
                <div class="f_circleG" id="frotateG_02"></div>
                <div class="f_circleG" id="frotateG_03"></div>
                <div class="f_circleG" id="frotateG_04"></div>
                <div class="f_circleG" id="frotateG_05"></div>
                <div class="f_circleG" id="frotateG_06"></div>
                <div class="f_circleG" id="frotateG_07"></div>
                <div class="f_circleG" id="frotateG_08"></div>
            </div>
        </div>
        <div class="modal-dialog" role="document">

            <form role="form" name="NewAudioForm" ng-submit="AddAudio(NewAudioVM)">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="text-primary">Add New Audio</h3>
                        <a href="" ng-click="hide('#NewAudioModal')">
                            <i class="fa fa-2x fa-times ModalDismissIco"></i>
                        </a>
                    </div>
                    <div class="modal-body" style="padding: 15px;">
                        <div class="row">
                            <div class="12u$">
                                <input type="text" ng-model="NewAudioVM.AudioName" name="AudioName" required placeholder="Audio name*" />
                            </div>
                            <div class="9u">
                                <input type="text" name="AudioUrl" placeholder="Audio*" disabled />
                            </div>
                            <div class="3u$ lessPading">
                                <input class="inputfile" type="file"
                                       file-model="NewAudioVM.AudioFile"
                                       onchange="angular.element(this).scope().SetAudioName(this)"
                                       id="Audio" name="Audio" required />
                                <label for="Audio" class="btn-primary">Choose</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" id="NewAudioModal_close" class="ModalDismissBtn" data-dismiss="modal" value="Close" />
                        <input type="submit" class="addBtn" value="Add Audio" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Edit Place Modal -->
    <div class="modal fade" id="EditPlaceModal" tabindex="-1" role="dialog" aria-labelledby="EditPlaceModalLabel">
        <!--overlay-->
        <div ng-show="EditOverlay" style="position: absolute;top:0px;left:0px;width: 100%; height: 100%; z-index:1000000; background-color: rgba(255,255,255,0.3);">
            <div id="floatingCirclesG">
                <div class="f_circleG" id="frotateG_01"></div>
                <div class="f_circleG" id="frotateG_02"></div>
                <div class="f_circleG" id="frotateG_03"></div>
                <div class="f_circleG" id="frotateG_04"></div>
                <div class="f_circleG" id="frotateG_05"></div>
                <div class="f_circleG" id="frotateG_06"></div>
                <div class="f_circleG" id="frotateG_07"></div>
                <div class="f_circleG" id="frotateG_08"></div>
            </div>
        </div>
        <div class="modal-dialog" style="width: 900px;" role="document">

            <form role="form" name="EditPlaceForm" ng-submit="EditPlace(EditPlaceVM)">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="text-primary">Edit Place Informations</h3>
                        <a href="" ng-click="hide('#EditPlaceModal')">
                            <i class="fa fa-2x fa-times ModalDismissIco"></i>
                        </a>
                    </div>
                    <div class="modal-body" style="padding: 15px;">
                        <div class="row">
                            <div class="place-image 3u 6u(mobile)">
                                <input id="PlaceImage" name="PlaceImage" type="file" file-model="PlaceImage" class="hidden"
                                       onchange="angular.element(this).scope().ChangeImg(this)" />
                                <img ng-click="ClickPlaceImg()" src="../images/Places/{{selectedPlace.Img}}" />
                            </div>
                            <div class="place-image 1u$" style="float: right;">
                                <img ng-click="AddExtraImage()" src="../images/file_add.png" />
                            </div>
                            <div class="12u$">
                                <div class="row">
                                    <div class="place-image 2u 3u(mobile)" ng-repeat="img in selectedPlace.ExtraImgs">
                                        <img ng-click="RemoveExtraImg(img.ImgId)" src="../images/Places/{{img.name}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="6u$ 12u$(mobile)">
                                <input type="text" ng-model="EditPlaceVM.PlaceName" name="PlaceName" required placeholder="Place name*" />
                            </div>
                            <div class="6u 12u$(mobile)">
                                <select ng-model="EditPlaceVM.PlaceCityId" name="PlaceCityId" required>
                                    <option ng-repeat="city in AllCities" value="{{city.CityID}}">{{city.CityName}}</option>
                                </select>
                            </div>
                            <div class="6u$ 12u$(mobile)">
                                <input type="text" ng-model="EditPlaceVM.PlaceCordinates" value="" name="PlaceCordinates" placeholder="Place Cordinates" />
                            </div>
                            <div class="12u$">
                                <textarea ng-model="EditPlaceVM.PlaceDesc" name="PlaceDesc" rows="3" placeholder="Place description"></textarea>
                            </div>
                            <div class="12u$">
                                <textarea ng-model="EditPlaceVM.PlaceAddress" name="PlaceAddress" rows="1" placeholder="Place Address"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" id="EditPlaceModal_close" class="ModalDismissBtn" data-dismiss="modal" value="Close" />
                        <input type="submit" class="addBtn" value="Save Changes" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>