
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Main -->
<div id="main">

    <!-- Intro -->
    <section id="top" class="one dark cover">
        <div class="container">

            <header class="text-Dark">
                <h2 class="alt">
                    Iran Audio Guide Server
                </h2>
                <p>
                    Esiest way to mange your application's audio.
                </p>
            </header>

            <footer>
                <a href="#NewPlace" class="button scrolly">Add new Place</a>
            </footer>

        </div>
    </section>

    <!-- Place list -->
    <section id="PlaceList" class="two">
        <div class="container">

            <header>
                <h2>Places</h2>
            </header>

            <p>
                Vitae natoque dictum etiam semper magnis enim feugiat convallis convallis
                egestas rhoncus ridiculus in quis risus amet curabitur tempor orci penatibus.
                Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis
                fusce hendrerit lacus ridiculus.
            </p>

            <table class="default">
                <thead>
                    <tr>
                        <td>a</td>
                        <td>b</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>a</td>
                        <td>b</td>
                    </tr>
                    <tr>
                        <td>a</td>
                        <td>b</td>
                    </tr>
                    <tr>
                        <td>a</td>
                        <td>b</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">a</td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </section>

    <!-- New Audio -->
    <section id="NewPlace" class="three">
        <div class="container">

            <header>
                <h2>New Place</h2>
            </header>

            <p>
                Elementum sem parturient nulla quam placerat viverra
                mauris non cum elit tempus ullamcorper dolor. Libero rutrum ut lacinia
                donec curae mus. Eleifend id porttitor ac ultricies lobortis sem nunc
                orci ridiculus faucibus a consectetur. Porttitor curae mauris urna mi dolor.
            </p>

            <form method="post" action="#">
                <div class="row">
                    <div class="6u 12u$(mobile)"><input type="text" name="name" placeholder="Place name" /></div>
                    <div class="4u$ 9u$(mobile)"><input type="text" disabled name="email" placeholder="Email" /></div>
                    <input type="file" name="file" id="file" class="inputfile" />
                    <label class="2u$ 3u$(mobile)" for="file">Choose</label>
                    <div class="12u$">
                        <textarea name="message" placeholder="Message"></textarea>
                    </div>
                    <div class="12u$">
                        <input type="submit" value="Send Message" />
                    </div>
                </div>
            </form>

        </div>
    </section>


</div>