@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Main -->
<div id="main">

    <!-- Intro -->
    <section id="top" class="one dark cover">
        <div class="container">

            <header class="text-Dark">
                <h2 class="alt">
                    Iran Audio Guide Server
                </h2>
                <p>
                    Easiest way to manage your application's audios.
                </p>
            </header>

            <footer>
                <a href="#NewPlace" class="button scrolly">Add new Place</a>
            </footer>

        </div>
    </section>

    <!-- Place list -->
    <section id="PlaceList" class="two">
        <div class="container">

            <header>
                <h2>Places</h2>
            </header>

            <p>
                Vitae natoque dictum etiam semper magnis enim feugiat convallis convallis
                egestas rhoncus ridiculus in quis risus amet curabitur tempor orci penatibus.
                Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis
                fusce hendrerit lacus ridiculus.
            </p>
            <div class="Player hidden"></div>
            <table class="default" id="placeTbl" data-action="@Url.Action("DelPlace", "Admin")">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Name</td>
                        <td>City</td>
                        <td>Desc</td>
                        <td>Audios</td>
                        <td>Remove</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="hoverable" ng-repeat="place in places">
                        <td class="LoadAudio" data-id="{{place.placeId}}">{{place.Index}}</td>
                        <td class="tdName LoadAudio" data-id="{{place.placeId}}">{{place.PlaceName}}</td>
                        <td class="LoadAudio" data-id="{{place.PlaceId}}">{{place.CityName}}</td>
                        <td class="tdDesc LoadAudio" data-id="{{place.PlaceId}}"><p>{{place.PlaceDesc}}</p></td>
                        <td>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary btn-block"
                                    data-toggle="modal" data-target="#myModal"
                                    data-audioid="{{place.PlaceId}}">
                                <span class="fa fa-edit"></span> Edit
                            </button>
                        </td>
                        <td>
                            <div role="button" tabindex="0" class="btn btn-danger btn-block rmvPlc"
                                 data-placename="{{place.PlaceName}}"
                                 data-placeid="{{place.PlaceId}}">
                                <span class="fa fa-remove"></span> Remove
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <ul class="nav nav-tabs nav-justified">
                                <li>
                                    <a href="" ng-click="PreviousPlace()"><span class="fa fa-chevron-left"></span> Previus</a>
                                </li>
                                <li>
                                    <a class="text-primary">page {{PlaceCurrentPage + 1}} (out of {{PlacePagesLen}} pages)</a>
                                </li>
                                <li>
                                    <a href="" ng-click="NextPlace()">Next <span class="fa fa-chevron-right"></span></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </section>

    <!-- New Audio -->
    <section id="NewPlace" class="three">
        <div class="container">

            <header>
                <h2>New Place</h2>
            </header>

            <p>
                Elementum sem parturient nulla quam placerat viverra
                mauris non cum elit tempus ullamcorper dolor. Libero rutrum ut lacinia
                donec curae mus. Eleifend id porttitor ac ultricies lobortis sem nunc
                orci ridiculus faucibus a consectetur. Porttitor curae mauris urna mi dolor.
            </p>
            <form role="form" name="NewPlaceForm" class="NewPlaceForm" ng-submit="AddPlace(NewPlace, NewPlaceForm)">
                <ul class="formError text-danger" ng-show="NewPlaceForm.$submitted">
                    <li ng-show="NewPlaceForm.PlaceName.$error.required"><strong>Place name must be fill.</strong></li>
                    <li ng-show="NewPlaceForm.Image.$error.required"><strong>Place Image must be choose.</strong></li>
                    <li ng-show="NewPlaceForm.PlaceCityId.$error.required"><strong>Place city must be choose.</strong></li>
                </ul>
                <div class="row">
                    <div class="6u 12u$(mobile)">
                        <input type="text" ng-model="NewPlace.PlaceName" name="PlaceName" required placeholder="Place name*" />
                    </div>
                    @*<div class="6u 12u$(mobile)">
                        <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                             ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                             ngf-resize="{width: 100, height: 100}">Select</div>
                    </div>*@
                    <div class="4u 9u(mobile)">
                        <input type="text" name="imgUrl" placeholder="Place image*" disabled/>
                    </div>
                    <div class="2u$ 3u$(mobile) lessPading">
                        <input class="inputfile" type="file"
                               file-model="NewPlace.Image"
                               onchange="angular.element(this).scope().SetImageName(this)" 
                               id="Image" name="Image" required />
                        <label for="Image" class="btn-primary">Choose</label>
                    </div>
                    <div class="6u 12u$(mobile)">
                        <select ng-model="NewPlace.PlaceCityId" name="PlaceCityId" required>
                            <option value="">Select City*</option>
                            <option ng-repeat="city in cities" value="{{city.CityID}}">{{city.CityName}}</option>
                        </select>
                    </div>
                    <div class="6u$ 12u$(mobile)">
                        <input type="text" ng-model="NewPlace.PlaceCordinates" value="" name="PlaceCordinates" placeholder="Place Cordinates" />
                    </div>
                    <div class="12u$">
                        <textarea ng-model="NewPlace.PlaceDesc" name="PlaceDesc" rows="3" placeholder="Place description"></textarea>
                    </div>
                    <div class="12u$">
                        <textarea ng-model="NewPlace.PlaceAddress" name="PlaceAddress" rows="1" placeholder="Place Address"></textarea>
                    </div>
                    <div class="12u$">
                        <input type="submit" value="Add place" />
                    </div>
                </div>
            </form>
        </div>
    </section>

    <!-- Cities List -->
    <section id="Cities" class="four">
        <div class="container">

            <header>
                <h2>Cities</h2>
            </header>

            <p>
                Vitae natoque dictum etiam semper magnis enim feugiat convallis convallis
                egestas rhoncus ridiculus in quis risus amet curabitur tempor orci penatibus.
                Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis
                fusce hendrerit lacus ridiculus.
            </p>
            <table class="default" id="ctyTbl" data-action="@Url.Action("DelCity", "Admin")">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Name</td>
                        <td>Description</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="city in cities">
                        <td>{{city.Index}}</td>
                        <td>{{city.CityName}}</td>
                        <td><p>{{city.CityDesc}}</p></td>
                        <td>
                            <div role="button" tabindex="0" class="btn btn-danger btn-block rmvCty" ng-click="RemoveCity(city.CityID, city.CityName)">
                                <span class="fa fa-remove"></span> Remove
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <ul class="nav nav-tabs nav-justified">
                                <li>
                                    <a href="" ng-click="PreviousCity()"><span class="fa fa-chevron-left"></span> Previus</a>
                                </li>
                                <li>
                                    <a class="text-primary">page {{CityCurrentPage + 1}} (out of {{CityPagesLen}} pages)</a>
                                </li>
                                <li>
                                    <a href="" ng-click="NextCity()">Next <span class="fa fa-chevron-right"></span></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <div class="row myDivider">
                <div class="4u">
                    <hr />
                </div>
                <div class="4u">
                    <span>
                        Add new City
                    </span>
                </div>
                <div class="4u$">
                    <hr />
                </div>
            </div><!-- /.col -->
            <form name="NewCityForm" role="form" ng-submit="AddCity(NewCity, NewCityForm)" novalidate>
                <div class="row">
                    <div class="6u$ 12u$(mobile)">
                        <div class="formError" ng-show="NewCityForm.$submitted || NewCityForm.CityName.$touched">
                            <p class="text-danger" ng-show="NewCityForm.CityName.$error.required">City name must be fill.</p>
                        </div>
                        <input type="text" ng-model="NewCity.CityName" name="CityName" required placeholder="City name*" />
                    </div>
                    <div class="12u$">
                        <textarea ng-model="NewCity.CityDesc" name="CityDesc" placeholder="City description" rows="2"></textarea>
                    </div>
                    <div class="12u$">
                        <input type="submit" value="Add City" />
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="ForignKeyErrorModal" tabindex="-1" role="dialog" aria-labelledby="ForignKeyErrorModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-danger">Removing Failed</div>
                <div class="modal-body" id="ForignKeyErrorModal_body">
                    <div class="container text-info">
                        {{ForignKeyErrorBody}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="ForignKeyErrorModal_close" class="btn btn-info" data-dismiss="modal">Close</button>
                    <button type="button" id="ForignKeyErrorModal_Delete" class="btn btn-danger {{DelSubsBtn}}" data-id="">{{DelSubsBtnText}}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal2 -->
    @*<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>*@

</div>