@{
    Layout = null;
}
<style>
    .deactivatedDevice {
        color: #000;
        padding-top: 100px;
    }

    .btn[disabled] {
        background-color: #777 !important;
    }

    .deactivationHeader {
        font-size: larger !important;
    }

</style>
<div class="portlet light deactivatedDevice">
    <div class="portlet-title">
        <div class="caption caption-md">
            <span class="caption-subject font-blue-madison bold uppercase deactivationHeader">Want to change your device?</span>

        </div>
    </div>
    <div class="portlet-body">
        <div class="alert  alert-success" ng-show="m.isShowMessage">
            <strong> Success!</strong> {{m.msg}}
        </div>
        <div>
            <ul>
                <li>
                    By pressing the <strong>DEACTIVATE OLD DEVICE</strong> button you can deactivate your old device (your smart phone or tablet).
                </li>
                <li>
                    Then sign in with the device you intend to use to set the device and gain access to your packages.
                </li>
                <li>
                    <strong>Remmember!</strong> This is only possible every 6 months once.
                </li>
            </ul>

            <button type="button" ng-disabled="!user.IsAccessChangeUuid"
                    ng-show="user.IsSetuuid"
                    class="btn btn-circle orange-haze btn-sm"
                    ng-click="deactivateMobile()">
                Deactivate Old Device
            </button>
            <div class="alert alert-info" ng-show="!user.IsSetuuid">
                You have not set any devices to your account yet.
            </div>
        </div>
    </div>
</div>