
@{
    Layout = "~/Views/Shared/_LayouProfile.cshtml";
}
<style>
    .portlet.light{
        background-color:whitesmoke !important;
    }
    .template4{
        background-color:whitesmoke !important;
    }
</style>

<div ui-view></div>