
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<!-- Main -->

<div id="main">
    <!-- Intro -->
    <section id="top" class="one dark cover">
        <div class="container">

            <header class="text-Dark">
                <h2 class="alt">
                    Iran Audio Guide Server
                </h2>
                <p>
                    Easiest way to manage your application's audios.
                </p>
            </header>

            <footer>
                <a href="#NewPlace" class="button scrolly">Add new Place</a>
            </footer>

        </div>
    </section>
    
    <section id="Cities" class="four">
        <div class="container">
            <header>
                <h2>packages</h2>
            </header>
            <table class="default" id="ctyTbl">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Name</td>
                        <td>Description</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="city in cities">
                        <td> </td>
                        <td></td>
                        <td><p></p></td>
                        <td>
                            <div role="button" tabindex="0" class="btn btn-danger btn-block rmvCty">
                                <span class="fa fa-trash-o"></span> Remove
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <ul class="nav nav-tabs nav-justified">
                                <li>
                                    <a href="" ng-click="PreviousCity()"><span class="fa fa-chevron-left"></span> Previus</a>
                                </li>
                                <li>
                                    <a class="text-primary">page {{CityCurrentPage + 1}} (out of {{CityPagesLen}} pages)</a>
                                </li>
                                <li>
                                    <a href="" ng-click="NextCity()">Next <span class="fa fa-chevron-right"></span></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <div class="row myDivider">
                <div class="3u">
                    <hr />
                </div>
                <div class="6u">
                    <span>
                        Add new Package
                    </span>
                </div>
                <div class="3u$">
                    <hr />
                </div>
            </div><!-- /.col -->
            <form name="PackegeyForm" role="form" ng-submit="" novalidate>
                <div class="row">
                    <div class="6u 12u$(mobile)">
                        <input type="text" name="PackageName" required placeholder="Package name*" />
                    </div>
                    <div class="6u$ 12u$(mobile)">
                        <input type="text" name="PackagePrice" required placeholder="Package Price*" />
                    </div>

                    <div class="3u$">
                        <ul style="text-align: left;">
                            <li>
                                <input type="checkbox" id="city0" value="All" ng-model="selectedAll">All 
                            </li>
                            <li ng-repeat="item in Items">
                                <input ng-checked="selectedAll" type="checkbox" id="{{item.id}}" value="Shiraz">{{item.Name}}
                            </li>
                        </ul>
                    </div>
                    <div class="3u$">
                        <input type="submit" value="Add package" />
                    </div>
                </div>

            </form>
        </div>
    </section>

</div>