@{
    Layout = null;
}<!DOCTYPE html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">
<head prefix="og: http://ogp.me/ns# object: http://ogp.me/ns/object#">
    <meta name="title" content="Best audio guide application for Iran travel" />
    <meta name="Description"
          content="Iran audio Guide - Discover iran while listening to facts and stories about modern Iran, ancient history, the arts, persian mythology and above all a step by step guide through notable attractions." />

    <meta property="og:title" content="Best audio guide application for Iran travel" />
    <meta property="og:site_name" content="Iran Audio Guide" />
    <meta property="og:type" content="Audio Guide" />
    <meta property="og:image" content="http://iranaudioguide.com/IAGSITELOGO.png" />
    <meta property="og:url" content="http://iranaudioguide.com" />
    <meta property="og:description" content="Iran audio Guide - Discover iran while listening to facts and stories about modern Iran, ancient history, the arts, persian mythology and above all a step by step guide through notable attractions." />
    <meta property="fb:admins" content="iranaudioguide" />

    <meta property="twitter:card" content="Iran Audio Guide" />
    <meta property="twitter:description" content="Iran audio Guide - Discover iran while listening to facts and stories about modern Iran, ancient history, the arts, persian mythology and above all a step by step guide through notable attractions." />
    <meta property="twitter:url" content="http://iranaudioguide.com" />
    <meta property="twitter:title" content="Best audio guide application for Iran travel" />
    <meta property="twitter:image" content="http://iranaudioguide.com/IAGSITELOGO.png" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>@ViewBag.Title</title>

    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.3.3.7.min.css" rel="stylesheet" />
    <link href="~/Content/simple-sidebar.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <style>
        .menu-mobail {
            position: absolute;
            background-color: #000;
            top: 0;
            left: 0;
            padding: 1px 9px;
            right: 0px;
            z-index: 99999;
        }

            .menu-mobail a {
                border-right: 2px solid #ccc;
                color: #fff;
                font-size: 30px;
                padding: 4px 9px 5px 2px;
            }
    </style>
</head>
<body onresize="onResizeBody()">
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                @*<li >
                        <a href="#menu-toggle" class="btn btn-link" id="menu-toggle">Toggle Menu</a>
                    </li>*@
                <li>
                    <a href="#">Dashboard 
                    <i class="fa fa-umbrella"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        Shortcuts
                        <i class="fa fa-umbrella"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        Overview
                        <i class="fa fa-umbrella"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        Events
                        <i class="fa fa-umbrella"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        About
                        <i class="fa fa-umbrella"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        Services
                        <i class="fa fa-umbrella"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        Contact
                        <i class="fa fa-umbrella"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container">
                <div class="menu-mobail visible-xs">
                    <a href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars"></i></a>
                    <span class="menu-username"> </span>
                </div>

            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery-2.2.3.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        function onResizeBody() {
            var width = $(window).width();
            var h = $(window).height();
            console.log('resized:', width, h);
            /* Custom, iPhone Retina  if (width < 320)*/
            /* Extra Small Devices, Phones  else if (width < 480) */
            /* Medium Devices, Desktops   else if (width < 992)*/
            /* Small Devices, Tablets if (width < 768)*/
            /* Large Devices, Wide Screens (width< 1200) */
            if (width > 768)
                if ($("#wrapper").hasClass("toggled"))
                    $("#wrapper").removeClass("toggled")



        };
    </script>

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/angular-ui-router.min.js"></script>
    <script src="~/Scripts/select.min.js"></script>
    <script src="~/Scripts/Underscore.js"></script>
    <script src="~/Scripts/UserCustom.js"></script>
    <script src="~/Scripts/UserServices.js"></script>
    <script src="~/Scripts/UserControllers.js"></script>
</body>
</html>
