
@{
    Layout = "~/Views/Shared/_LayouProfile.cshtml";
}
<div class="col-xs-12" ng-show="!user.IsEmailConfirmed">
    <div class="alert alert-warning">
        <strong>Not Confirmed yet!  </strong>Please check your Email.
        <br />
        if you have not received the confirmation email yet, click <a ng-click="sendEmailConfirmedAgain()">here</a>  to send you another Email
    </div>
</div>
<div ui-view></div>