
@{
    Layout = "~/Views/Shared/_LayouProfile.cshtml";
}
@using IranAudioGuide_MainServer.App_GlobalResources
<div class="col-xs-12" ng-show="!user.IsEmailConfirmed">
    <div class="alert alert-warning">
        <strong> @Global.PageProfile20  </strong>@Global.PageProfile21 
        <br />
        @Global.PageProfile22 <a ng-click="sendEmailConfirmedAgain()">here</a>  to send you another Email
    </div>
</div>
<div ui-view></div>