
@{
    Layout = "~/Views/Shared/_LayouProfile.cshtml";
}
<style>
    .portlet.light {
        background-color: whitesmoke !important;
    }

    /*.template4 {
        background-color: whitesmoke !important;
    }*/

    .font-blue-madison {
        color: #144482 !important;
    }

    .deactivatedDevice b, .deactivatedDevice strong {
        color: #ffa62f;
        font-weight: 600;
    }

    .orange.btn {
        color: #FFFFFF;
        background-color: #144482;
    }

        .orange.btn:hover, .orange.btn:focus, .orange.btn:active, .orange.btn.active {
            color: #FFFFFF;
            background-color: #ff7330;
        }
</style>

<div ui-view></div>