
@{
    Layout = null;
}
<link href="~/Content/sliderArrow.css" rel="stylesheet" />
<script src="~/Scripts/responsiveslides.min.js"></script>
<style>
    .itemSelcted i {
        float: left;
        /*text-shadow: 1px 1px 1px #092f40, -1px -2px 1px #092f40;*/
    }

    .itemSelcted h6 span {
        color: rgb(25, 22, 1);
        text-shadow: 1px 1px 1px #ccc;
    }

    .itemSelcted p {
        color: rgba(54, 56, 74, 0.72);
    }

    .ui-select-bootstrap .ui-select-choices-row:hover {
        color: #fff !important;
        text-decoration: none;
        outline: 0;
        background-color: green;
    }

    .ui-select-bootstrap .ui-select-choices-row.active .itemSelcted p {
        color: #fff !important;
    }

    .ui-select-bootstrap .ui-select-choices-row > span:hover, .ui-select-bootstrap .ui-select-choices-row > span:focus {
        background-color: rgb(175, 208, 236) !important;
    }

    .ui-select-bootstrap .ui-select-toggle > .caret {
        display: none;
    }

    .box-city {
    }

    .box-place {
        margin: 0 0 0 21px;
    }
</style>
@*<link href="~/Content/responsiveslides.css" rel="stylesheet" />*@
<link href="~/Content/sliderArrow.css" rel="stylesheet" />
<link href="~/Content/PakageTemplate.css" rel="stylesheet" />
@*<div class="portlet light menu-pakages" ng-if="packages.length != 0">
        <div class="portlet-title">
            <div class="caption caption-md">
                <i class="icon-bar-chart theme-font hide"></i>
                <span class="caption-subject font-blue-madison bold uppercase">Packages </span>

            </div>
        </div>
        <div class="portlet-body">

            <div class="form-horizontal">
                <fieldset>
                    <legend>Please select your city or location</legend>
                    <div class="form-group">
                        <div class="col-md-12 ">
                            <div class="input-group">
                                <ui-select multiple ng-model="searhPakage.item" theme="bootstrap">
                                    <ui-select-match placeholder="Please select your city or location">
                                        <i ng-class="typeEachItemFoSelection[$item.type].icon"></i>
                                        <span> {{$item.title}} </span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in pakageForSelected | filter: {title: $select.search}">

                                        <div ng-class="typeEachItemFoSelection[item.type].className">
                                            <h6>
                                                <i ng-class="typeEachItemFoSelection[item.type].icon"></i>
                                                <span> {{item.title}} </span>
                                            </h6>
                                            <p> {{item.description}}</p>
                                        </div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>

                            </div>
                        </div>
                    </div>

                </fieldset>
            </div>



        </div>

    </div>*@
<style>
    .SearchSelect {
        border-color: rgba(255, 255, 255, 0);
        background-color: rgba(255, 255, 255, 0.19) !important;
    }
</style>

<div class="input-group">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
    <ui-select class="SearchSelect" multiple ng-model="searhPakage.item" theme="bootstrap">
        <ui-select-match placeholder="Please select your city or location">
            <i ng-class="typeEachItemFoSelection[$item.type].icon"></i>
            <span> {{$item.title}} </span>
        </ui-select-match>
        <ui-select-choices repeat="item in pakageForSelected | filter: {title: $select.search}">

            <div ng-class="typeEachItemFoSelection[item.type].className">
                <h6>
                    <i ng-class="typeEachItemFoSelection[item.type].icon"></i>
                    <span> {{item.title}} </span>
                </h6>
                <p> {{item.description}}</p>
            </div>
        </ui-select-choices>
    </ui-select>

</div>
<form id="PurchaseForm" name="PurchaseForm" action="/Payment/PaymentWeb">
    <div class="initSlider row">


        <!-- Price template4 Ends -->

        <div class="col-flex PlanPricing template4" ng-repeat="pak in listPakages">
            <!-- Price template4 Starts -->
            <div class="planName">
                <span class="price">{{pak.PackagePrice}}IRR </span>
                <h3>{{pak.PackageName}}</h3>
                @*<p>{{pak.PackageName}}</p>*@
            </div>
            <div class="planFeatures">
                <!-- Slideshow 4 -->
                <div class="callbacks_container">
                    <ul class="slider6 rslides"  ng-class="{'packageMultiple-ul':pak.PackageCities.length != 1}">
                        <li ng-repeat="city in pak.PackageCities">

                            <img ng-src="~/images/Cities/{{city.CityImageUrl}}" />
                            <p class="cityName">{{city.CityName}}</p>
                            <p class="caption">{{city.CityDesc}}</p>
                            <ul>
                                <li ng-repeat="plc in city.Places">{{plc.PlaceName}}</li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>

            <p> <a ng-click="buyPakages(pak)" class="btn btn-success btn-large">buy </a> </p>
        </div>



    </div>

</form>

<script src="~/Scripts/responsiveslides.min.js"></script>

