
@{
    Layout = null;
}



<div class="input-group">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
    <ui-select class="SearchSelect" multiple ng-model="searhPakage.item" theme="bootstrap">
        <ui-select-match placeholder="Please select your city or location">
            <i ng-class="typeEachItemFoSelection[$item.type].icon"></i>
            <span> {{$item.title}} </span>
        </ui-select-match>
        <ui-select-choices repeat="item in pakageForSelected | filter: {title: $select.search}">

            <div ng-class="typeEachItemFoSelection[item.type].className">
                <h6>
                    <i ng-class="typeEachItemFoSelection[item.type].icon"></i>
                    <span> {{item.title}} </span>
                </h6>
                <p> {{item.description}}</p>
            </div>
        </ui-select-choices>
    </ui-select>

</div>

<form id="PurchaseForm" name="PurchaseForm" action="/Payment/PaymentWeb">


    <div class="col-flex PlanPricing template4" ng-repeat="pak in listPakages">
        <!-- Price template4 Starts -->
        <div class="planName">
            @*<span class="price">{{pak.PackagePrice}}IRR </span>*@
            <h3>{{pak.PackageName}}</h3>
            @*<p>{{pak.PackageName}}</p>*@
        </div>
        <div class="planFeatures">
            <!-- Slideshow 4 -->
            <div class="callbacks_container">
                <ul class="slider6 rslides" ng-class="{'packageMultiple-ul':pak.PackageCities.length != 1}">
                    <li ng-repeat="city in pak.PackageCities">

                        <img ng-src="~/images/Cities/{{city.CityImageUrl}}" />
                        <p class="cityName">{{city.CityName}}</p>
                        <p class="caption">{{city.CityDesc}}</p>
                        <ul>
                            <li ng-repeat="plc in city.Places">{{plc.PlaceName}}</li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
        <p> <a ng-click="showModal(pak)" class="btn btn-success btn-large">buy </a> </p>
        @*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>*@
    </div>
</form>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
         
            <div class="modal-body">
                <div class="row chooesPanel">
                    <div class="col-xs-12">
                       <p>{{pak.PackagePrice}}</p>
                        <a class="zarinpalIcon" ng-click="buyPakages(true)">
                            <img src="~/images/icon-128x128.png" />
                        </a>
                    </div>
                    <div class="col-xs-12"> @*ng-hide="user.IsForeign"*@ 
                      <p>{{pak.PackagePriceDollar}}</p>
                        <a class="webmoneyIcon" ng-click="buyPakages(false)">                            <img src="~/images/webmoney.png" /> </a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
