
@{
    Layout = null;
}


<div class="col-flex PlanPricing template4" ng-repeat="pak in packagesPurchased">
    <!-- Price template4 Starts -->
    <div class="planName">
        @*<span class="price">{{pak.PackagePrice}}IRR </span>*@
        <h3>{{pak.PackageName}}</h3>
        @*<p>{{pak.PackageName}}</p>*@
    </div>
    <div class="planFeatures">
        <!-- Slideshow 4 -->
        <div class="callbacks_container">
            <ul class="slider6 rslides" ng-class="{'packageMultiple-ul':pak.PackageCities.length != 1}">
                <li ng-repeat="city in pak.PackageCities">

                    <img ng-src="{{city.CityImageUrl}}" />
                    <p class="cityName">{{city.CityName}}</p>
                    <p class="caption">{{city.CityDesc}}</p>
                    <ul>
                        <li ng-repeat="plc in city.Places">{{plc.PlaceName}}</li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>

    <p> <a ng-click="buyPakages(pak)" class="btn btn-success btn-large">buy </a> </p>
</div>


    <div  ng-show="isShowMessage == true" style="padding:10%">
        @*<h4 class="block"> Packages Purchased</h4>*@
        <p>No Purchesed Pakages</p>
    </div>
