
@{
    Layout = null;
}

<style>
    .input-group input[type=search] {
        color: #fff;
    }
    .hoverable{
        cursor: pointer;
    }
</style>


<div class="input-group">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
    <ui-select class="SearchSelect" multiple ng-model="searhPakage.item" theme="bootstrap">
        <ui-select-match placeholder="Please select your city or location">
            <i ng-class="typeEachItemFoSelection[$item.type].icon"></i>
            <span> {{$item.title}} </span>
        </ui-select-match>
        <ui-select-choices repeat="item in pakageForSelected | filter: {title: $select.search}">

            <div ng-class="typeEachItemFoSelection[item.type].className">
                <h6>
                    <i ng-class="typeEachItemFoSelection[item.type].icon"></i>
                    <span> {{item.title}} </span>
                </h6>
                <p> {{item.description}}</p>
            </div>
        </ui-select-choices>
    </ui-select>

</div>
@*<div class="col-xs-12">
    <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)" />
    
 
</div>*@
<form id="PurchaseForm" name="PurchaseForm" action="/Payment/PaymentWeb">


    <div class="PlanPricing template4" ng-repeat="pak in listPakages"  ng-class="{'col-flex-1':pak.PackageCities.length == 1, 'col-flex-2':pak.PackageCities.length > 1}">
        <!-- Price template4 Starts -->
        <div class="planName">
            @*<span class="price">{{pak.PackagePrice}}IRR </span>*@
            <h3>{{pak.PackageName}}</h3>
            @*<p>{{pak.PackageName}}</p>*@
        </div>
        <div class="planFeatures">
            <!-- Slideshow 4 -->
            <div class="callbacks_container">
                <ul class="slider6 rslides">
                    <li ng-repeat="city in pak.PackageCities">

                        <img ng-src="{{city.CityImageUrl}}" />
                        <p class="cityName">{{city.CityName}}</p>
                        <p class="caption">{{city.CityDesc}}</p>
                        <ul>
                            <li ng-repeat="plc in city.Places">{{plc.PlaceName}}</li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
        <p> <a ng-click="showModal(pak)" class="btn btn-success btn-large">buy </a> </p>
        @*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>*@
    </div>
</form>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body">
                <div class="row chooesPanel">
                    <div ng-hide="user.IsForeign" class="col-xs-12">
                        <p>{{pak.PackagePrice}}T</p>
                        <a class="zarinpalIcon hoverable" ng-click="buyPakages(true)">
                            Pay with Iranian bank cards
                            @*<img class="hoverable" src="~/images/icon-128x128.png" />*@
                        </a>
                    </div>
                    <div class="col-xs-12">
                        @*ng-hide="user.IsForeign"*@
                        <p>{{pak.PackagePriceDollar}}$</p>
                        <a class="webmoneyIcon hoverable" ng-click="buyPakages(false)">
                            Pay with international cards
                            @*<img class="hoverable" src="~/images/wmlogo_vector_blue.png" />*@
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
