
@{
    Layout = null;
}
@using IranAudioGuide_MainServer.App_GlobalResources
<div class="row">

    <nav class="subheader">
        <div class="nav-wrapper subheader black-text">
            <div class="col s12">
                <h4 style="display:inline-block"> @Global.MenuPurchased</h4>
            </div>
        </div>
    </nav>


    <div class="col s12" ng-show="profile.packagesPurchased.length == 0" >
        <div class="card IAGblueBack darken-1">
            <div class="card-content white-text">
                @Global.PageProfile25
            </div>
        </div>
    </div>

</div>
<div class="row">

    <div class="col s12">
        <div class="card darken-1 pakage" ng-repeat="pack in profile.packagesPurchased">
            <div class="card-content">
                <span class="card-title"><i class="fa fa-cart-plus"></i> {{pack.PackageName}}</span>
                @*<blockquote>
                        {{pack.PackDescription}}
                    </blockquote>*@

                <ul class="collapsible popout" data-collapsible="accordion" watch>
                    <li ng-repeat="city in pack.PackageCities">
                        <div class="collapsible-header">
                            <ul class="collection">
                                <li class="collection-item avatar" ng-click="OpenCollapsibleBody(city)">
                                    <p ng-show="isloadImage" class="loading">

                                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                                        <span class="sr-only">Loading...</span>
                                    </p>
                                    <img ng-src="{{city.CityImageUrl}}" alt="" class="circle">

                                    <blockquote>
                                        <span class="title">{{city.CityName}}</span>
                                        <p>
                                            {{city.CityDesc}}<br />
                                            <span class="badge"><span class="fa fa-map-marker"></span> {{city.TotalAudiosCount.length}}</span>
                                            <span class="badge"><span class="fa fa-microphone"></span> {{city.TotalStoriesCount.length}}</span>
                                        </p>
                                    </blockquote>
                                    <a href="#!" class="secondary-content hide-on-small-and-down"><i class="fa fa-ellipsis-v"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="collapsible-body">
                            <ul class="collection">
                                <li class="collection-item avatar" ng-repeat="place in city.Places">
                                    <p ng-show="city.IsloadImage " class="loading">
                                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                                        <span class="sr-only">Loading...</span>
                                    </p>
                                    <img ng-src="{{place.ImgUrl}}" alt="" class="circle">
                                    <span class="title">{{place.PlaceName}}</span>
                                    <p>
                                        <span class="badge"><span class="fa fa-microphone"></span> {{place.AudiosCount}}</span>
                                        <span class="badge"><span class="fa fa-map-marker"></span> {{place.StoriesCount}}</span>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>

            </div>         
        </div>
    </div>
</div>



