@{
    Layout = null;
}

    <link href="~/Content/bs_leftnavi.css" rel="stylesheet" />
    <div class="container-full page-content" ng-show="profile.isCompletedLoading">
        <div class="row margin-top-9-percentage">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-sm-3 col-xs-12 left-side-panel">
                        <div class="profile-sidebar">
                            <!-- PORTLET MAIN -->
                            <div class="portlet light profile-sidebar-portlet">
                                <!-- SIDEBAR USERPIC -->
                                <div class="profile-userpic">
                                    <img ng-if="user.imgUrl == null || user.imgUrl== ''" src="~/Content/images/avatar.png" class="img-responsive" alt="">
                                    <img ng-if="user.imgUrl != null" ng-src="{{user.imgUrl}}" class="img-responsive" alt="">

                                </div>
                                <!-- END SIDEBAR USERPIC -->
                                <!-- SIDEBAR USER TITLE -->
                                <div class="profile-usertitle">
                                    <div class="profile-usertitle-name" ng-show="user.FullName">
                                        <i class="fa fa-user-o"></i>  {{user.FullName}}
                                    </div>
                                    <div class="profile-usertitle-job">
                                        <i class="fa fa-envelope"></i>    {{user.Email}}
                                    </div>
                                </div>
                                <!-- END SIDEBAR USER TITLE -->
                                <!-- SIDEBAR BUTTONS -->
                                <div class="profile-userbuttons">
                                    @*<button type="button" class="btn btn-circle btn-danger btn-sm">Message</button>*@
                                </div>
                                <!-- END SIDEBAR BUTTONS -->
                                <!-- SIDEBAR MENU -->
                                <div class="profile-usermenu">
                                    <ul class="nav">
                                        <li class="active" >
                                            <a ui-sref="user.Packages" id="btnGetPakage" ng-click="getPackages($event)">
                                                <i class="fa fa-list"></i>
                                                Pakage
                                            </a>
                                        </li>
                                        <li>
                                            <a ui-sref="user.PackagesPurchased" id="btnGetPakagePurchased" ng-click="getPackagesPurchased($event)">
                                                <i class="fa fa-list"></i>
                                                PackagesPurchased
                                            </a>
                                        </li>
                                        <li >
                                            <a ui-sref="user.deactivateMobile" ng-click="getPackagesPurchased($event)">
                                                <i class="fa fa-mobile"></i>
                                                Deactivate Device
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                                <!-- END MENU -->
                            </div>
                            <!-- END PORTLET MAIN -->

                        </div>

                        <!-- BEGIN PORTLET -->

                        <div class="portlet light menu-pakages" ng-show="false">
                            <div class="portlet-title">
                                <div class="caption caption-md">
                                    <i class="icon-bar-chart theme-font hide"></i>
                                    <span class="caption-subject font-blue-madison bold uppercase">Packages </span>

                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="gw-sidebar">
                                    <div id="gw-sidebar" class="gw-sidebar">
                                        <div class="nano-content">
                                            <ul class="gw-nav gw-nav-list">
                                                <li class="init-arrow-down" ng-repeat="pak in profile.packagesPurchased">
                                                    <a href="javascript:void(0)"> <span class="gw-menu-text">{{pak.PackageName}}</span> <b></b> </a>
                                                    <ul class="gw-submenu">
                                                        <li ng-repeat="city in pak.PackageCities">
                                                            <a ng-click="getPalaceForCity(city)">{{city.CityName}}</a>

                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END PORTLET -->
                    </div>
                    <div class="col-sm-9 col-xs-12 right-side-panel">
                        <div class="row">
                            <div class="col-xs-12" ng-show="!user.IsEmailConfirmed">
                                <div class="alert alert-warning">
                                    <strong>Not Confirmed yet!</strong> if you have not received the confirmation email yet, click <a ng-click="sendEmailConfirmedAgain()">here</a>  to send you another
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div ui-view></div>
                                 
                            </div>
                        </div>
                    </div>
                    <!-- END PAGE CONTENT INNER -->
                </div>
            </div>
            <!-- END PAGE CONTENT -->
        </div>
    </div>


    <div id="FullPageLoading" ng-class="{ 'unload': profile.isCompletedLoading == true, 'load': profile.isCompletedLoading == false}">
        <div id="fpcontainer">
            <img id="IAGLogo" src="~/images/IAGSmallWhiteLogo.png" />
            <div style="text-align:center;">
                <img id="spinbars" src="~/images/bars.svg" />
                @*<p id="LoadingText">Loading... <br /> Change the "FullPageLoading" element class from "load" to "unload" using angularJS when whole page is loaded.<br />Set "#LoadingText" style to "display:none"<br /> Done...<br /> Thank you!</p>*@
            </div>
        </div>
    </div>
    <script src="~/Scripts/bs_leftnavi.js"></script>
