
@{
    ViewBag.Title = "PayWithMellat";
}


    <style>
        body {
            background-image: url("../../Content/images/BankMellat/bg.jpg");
        }

        .ContentWrapper {
            margin: 70px auto;
            width: 652px;
            background-color: white;
            border: 1px solid black;
            text-align: center;
            padding-bottom: 30px;
        }

        .header {
            height: 130px;
            background-image: url("../../Content/images/BankMellat/Header.jpg");
            width: 100%;
        }

        .TextDescription {
            font-family: Tahoma;
            font-size: small;
            padding-top: 80px;
            padding-bottom: 30px;
        }

        input {
            cursor: pointer;
            font-family: Tahoma;
            font-size: small;
        }
    </style>

    <div class="ContentWrapper">
        <div class="header">
        </div>

        <form method="post" name="formBank" id="formBank" action='@BankMellatLibrary.BankMellatIService.PgwSite'>

            <input type="hidden" value='@ViewBag.id' id="RefId" name="RefId">
            <div class="TextDescription">
                در صورتی که اطلاعات ثبت شده را مورد تایید است جهت تکمیل فرایند خرید بر روی گزینه
                پرداخت کلیک نمایید

            </div>
            <input type="submit" value="پرداخت" />

        </form>

    </div>


