body {
}

.text-Dark {
    /*color: black;*/
    text-shadow: 1px 1px 1px black;
}

    .text-Dark h2 {
        font-size: 50px;
        font-weight: 900;
    }

    .text-Dark p {
        font-weight: 900;
    }

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

    .inputfile + label {
        /*font-size: 1.25em;
        font-weight: 700;
        color: white;
        background-color: black;
        display: inline-block;*/
        position: relative;
        display: inline-block;
        border-radius: 0.35em;
        color: #fff !important;
        text-decoration: none;
        padding: 0.75em 2.5em 0.75em 2.5em;
        /*background-color: #ffea00;*/
        border: 0;
        cursor: pointer;
        background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url("images/overlay.png");
        background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url("images/overlay.png");
        background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url("images/overlay.png");
        background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url("images/overlay.png");
        -moz-transition: background-color 0.35s ease-in-out;
        -webkit-transition: background-color 0.35s ease-in-out;
        -ms-transition: background-color 0.35s ease-in-out;
        transition: background-color 0.35s ease-in-out;
        line-height: 1.25em;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        text-align: center;
    }

    /*.inputfile:focus + label,
        .inputfile + label:hover {
            background-color: #ffff00;
        }

        .inputfile + label :active {
            background-color: #ffd500;
        }*/

    .inputfile + label {
        cursor: pointer; /* "hand" cursor */
    }

@media screen and (min-width: 736px) {
    .lessPading {
        padding-left: 5px;
    }
}

.NewPlaceForm input[type=submit] {
    background-color: #778899;
}

    .NewPlaceForm input[type=submit]:hover {
        background-color: #8d9caa;
    }

.textDanger {
    color: #8b0000;
}

.amazingaudioplayer {
    display: block !important;
    position: relative !important;
    width: 100% !important;
    height: auto !important;
    margin: 0px auto 0px !important;
    margin-bottom: 0 !important;
}

.amazingaudioplayer-image {
    width: 20% !important;
}

.amazingaudioplayer-bar {
    width: 78% !important;
}

.amazingaudioplayer-title {
    text-align: left !important;
}

table.default td {
}

.tdName {
    width: 20%;
}

.tdDesc p {
    overflow-y: scroll;
    max-height: 50px;
}

.LoadAudio {
    cursor: pointer;
}

.modal-body {
    padding: 0;
}

#myModal .modal-content {
    box-sizing: border-box;
    background-color: #333;
    border: 1px solid #222;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 0 rgba( 255, 255, 255, 0.15 ), 0 0 3px rgba( 0, 0, 0, 0.5 );
    -moz-box-shadow: inset 0 1px 0 rgba( 255, 255, 255, 0.15 ), 0 0 3px rgba( 0, 0, 0, 0.5 );
    box-shadow: inset 0 1px 0 rgba( 255, 255, 255, 0.15 ), 0 0 3px rgba( 0, 0, 0, 0.5 );
    background-image: -ms-linear-gradient(top, #444444 0%, #111111 100%);
    background-image: -moz-linear-gradient(top, #444444 0%, #111111 100%);
    background-image: -o-linear-gradient(top, #444444 0%, #111111 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444444), color-stop(1, #111111));
    background-image: -webkit-linear-gradient(top, #444444 0%, #111111 100%);
    background-image: linear-gradient(to bottom, #444444 0%, #111111 100%);
}

.Player {
}

form textarea {
    min-height: initial;
}

.hoverable:hover {
    background-color: lightblue;
}

.myDivider {
}

    .myDivider hr {
        border: 1px solid;
    }

    .myDivider span {
        font-size: 40px;
        padding: 0 10px;
    }

@media screen and (max-width: 736px) {
    .myDivider span {
        font-size: 30px;
        padding: 0 5px;
    }
}

@media screen and (max-width: 400px) {
    .myDivider span {
        font-size: 20px;
        padding: 0 2px;
    }
}

.formError {
    margin-bottom: 0px;
    text-align: left;
}

#progressOut {
    width: 300px;
    height: 20px;
    border: 1px solid #ccc;
    position: relative;
}

#progressIn {
    position: relative; /*This is important*/
    height: 100%;
    bottom: 0px;
    width: 0px;
    background: #FC6428; /*This can be anything*/
}

#time {
    position: absolute;
    padding: 5px 8px;
    font-size: 10px;
    background: #12BFD3;
    right: -0px;
    bottom: 0px;
}

.Player {
    text-align: left;
    box-sizing: border-box;
    background-color: #333;
    border: 1px solid #222;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 8px 4px;
    margin-bottom: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba( 255, 255, 255, 0.15 ), 0 0 3px rgba( 0, 0, 0, 0.5 );
    -moz-box-shadow: inset 0 1px 0 rgba( 255, 255, 255, 0.15 ), 0 0 3px rgba( 0, 0, 0, 0.5 );
    box-shadow: inset 0 1px 0 rgba( 255, 255, 255, 0.15 ), 0 0 3px rgba( 0, 0, 0, 0.5 );
    background-image: -ms-linear-gradient(top, #444444 0%, #111111 100%);
    background-image: -moz-linear-gradient(top, #444444 0%, #111111 100%);
    background-image: -o-linear-gradient(top, #444444 0%, #111111 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444444), color-stop(1, #111111));
    background-image: -webkit-linear-gradient(top, #444444 0%, #111111 100%);
    background-image: linear-gradient(to bottom, #444444 0%, #111111 100%);
}

    .Player .player-image {
        display: block;
        position: relative;
        /*width: 20%;*/
        height: auto;
        margin: 0px auto 0px;
        margin-bottom: 0;
        float: left;
        overflow: hidden;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

        .Player .player-image img {
            width: 100%;
            max-width: 100%;
            vertical-align: middle;
            display: inline-block;
            border: none;
            margin: 0;
            padding: 0;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }

    .Player .play {
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        background-image: url("../audioplayerengine/playpause-48-48-1.png");
        background-position: left top;
        background-repeat: no-repeat;
    }

    .Player .pause {
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        background-image: url("../audioplayerengine/playpause-48-48-1.png");
        background-position: right top;
        background-repeat: no-repeat;
    }

    .Player .next {
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        background-image: url("../audioplayerengine/prevnext-48-48-1.png");
        background-position: right top;
        background-repeat: no-repeat;
    }

    .Player .prev {
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        background-image: url("../audioplayerengine/prevnext-48-48-1.png");
        background-position: left top;
        background-repeat: no-repeat;
    }

    .Player .AudioTitle {
        color: white;
    }

    .Player .buttons {
        margin-left: -10px;
    }

    .Player .pb {
        margin-top: 8%;
    }

    .Player .audiosList {
        margin: 0px 20px;
    }

        .Player .audiosList .listItem {
            cursor: pointer;
        }

            .Player .audiosList .listItem div {
                padding: 0px;
                margin: 0px;
            }

.align-right {
    text-align: right !important;
    float: right !important;
}
